<ion-view id="fz"
          title="Home"
          hide-back-button="true">


    <ion-content class="BG fadein" scroll="true" >
        <div class="militaryButton" ng-click="$state.go('disciplinarniy_ustav')"> Дисциплинарный устав</div>
        <div class="militaryButton" ng-click="$state.go('stroevoy_ustav')">Строевой устав</div>
        <div class="militaryButton" ng-click="$state.go('ustav_vnutrenney_sluzhbi')">Устав внутренней службы</div>
        <div class="militaryButton" ng-click="$state.go('ustav_voennoy_policii')">Устав военной полиции</div>
        <div class="militaryButton" ng-click="$state.go('ustav_gornizonnoy_sluzhbi')">Устав гарнизонной и караульной служб</div>
    </ion-content>
</ion-view>