<ion-nav-bar class="bar-positive" nav-bar="active">
    <ion-nav-buttons side="left">
        <div class="title title-center header-item">О государственной тайне</div>
</ion-nav-bar>

<ion-content class="BG fadein" scroll="true" has-bouncing="false">
    <div class="list list-inset" style="margin-top: 100px"  >

        <div class="item" ng-click="$state.go('o_gos_taine_section1')">
            Раздел 1
        </div>
        <div class="item" ng-click="$state.go('o_gos_taine_section2')">
            Раздел 2
        </div>
        <div class="item" ng-click="$state.go('o_gos_taine_section3')">
            Раздел 3
        </div>
        <div class="item" ng-click="$state.go('o_gos_taine_section4')">
            Раздел 4
        </div>
        <div class="item" ng-click="$state.go('o_gos_taine_section5')">
            Раздел 5
        </div>
        <div class="item" ng-click="$state.go('o_gos_taine_section6')">
            Раздел 6
        </div>
        <div class="item" ng-click="$state.go('o_gos_taine_section7')">
            Раздел 7
        </div>
        <div class="item" ng-click="$state.go('o_gos_taine_section8')">
            Раздел 8
        </div>
    </div>
</ion-content>