<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <h1 class="title"> Раздел 8. Контроль и надзор за обеспечением
            защиты государственной тайны</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 30. Контроль за обеспечением защиты
            государственной тайны

            Контроль за   обеспечением   защиты   государственной    тайны
            осуществляют    Президент   Российской   Федерации,   Правительство
            Российской   Федерации   в   пределах   полномочий,    определяемых
            Конституцией  Российской  Федерации,  федеральными конституционными
            законами и федеральными законами (в ред.  Федерального закона от  6
            октября  1997  г.  N  131-ФЗ - Собрание законодательства Российской
            Федерации, 1997, N 41, ст. 4673).

            Статья 30-1. Федеральный государственный контроль за
            обеспечением защиты государственной тайны

            Федеральный государственный  контроль  за  обеспечением защиты
            государственной тайны осуществляется  уполномоченными  федеральными
            органами  исполнительной  власти  (далее  - органы государственного
            контроля)  согласно  их  компетенции   в   порядке,   установленном
            Правительством Российской Федерации.
            К отношениям,   связанным   с   осуществлением    федерального
            государственного  контроля  за  обеспечением защиты государственной
            тайны,  организацией и  проведением  проверок  на  предприятиях,  в
            учреждениях  и  организациях  (далее  для  целей настоящей статьи -
            юридические  лица),  применяются положения  Федерального закона  от
            26 декабря  2008 года  N 294-ФЗ  "О защите  прав  юридических лиц и
            индивидуальных предпринимателей при осуществлении  государственного
            контроля (надзора) и муниципального контроля" с учетом особенностей
            организации и проведения проверок,  установленных частями третьей -
            девятой настоящей статьи.
            О проведении плановой проверки юридическое  лицо  уведомляется
            не позднее трех рабочих дней до ее начала путем направления органом
            государственного контроля письменного уведомления.
            Основанием для   проведения   внеплановой   выездной  проверки
            является:
            истечение срока исполнения юридическим лицом выданного органом
            государственного контроля  предписания  об  устранении  выявленного
            нарушения   требований   законодательства  Российской  Федерации  в
            области защиты государственной тайны;
            поступление в  органы  государственного  контроля  информации,
            указывающей  на  признаки  нарушения  требований   законодательства
            Российской Федерации о государственной тайне;
            наличие предписания   (приказа,   распоряжения    или    иного
            распорядительного   документа)   руководителя  (уполномоченного  им
            должностного лица) органа государственного  контроля  о  проведении
            внеплановой   проверки,   изданного  в  соответствии  с  поручением
            Президента  Российской  Федерации  или   Правительства   Российской
            Федерации  либо  на  основании  требования  прокурора  о проведении
            внеплановой проверки в рамках надзора  за  исполнением  законов  по
            поступившим в органы прокуратуры материалам и обращениям.
            Срок проведения проверки  составляет  не  более  чем  тридцать
            рабочих дней со дня начала ее проведения.
            В исключительных   случаях,   связанных    с    необходимостью
            проведения  сложных  и  (или)  длительных исследований,  испытаний,
            специальных экспертиз и расследований на  основании  мотивированных
            предложений   должностных  лиц  органа  государственного  контроля,
            проводящих проверку,  срок проведения проверки может  быть  продлен
            руководителем  органа  государственного контроля (уполномоченным им
            должностным лицом), но не более чем на двадцать рабочих дней.
            Выездная проверка  юридических  лиц  проводится  на  основании
            предписания  (приказа,  распоряжения  или  иного  распорядительного
            документа),    подписанного    руководителем   (уполномоченным   им
            должностным лицом) органа государственного контроля.
            Внеплановая выездная  проверка,  основание  проведения которой
            указано  в  абзаце  третьем  части  четвертой   настоящей   статьи,
            проводится без предварительного уведомления.
            Информация об  организации   проверок,   проводимых   органами
            государственного контроля, в том числе о планировании, проведении и
            результатах таких проверок, в органы прокуратуры не направляется.
            (Статья 30-1 введена Федеральным законом от 18 июля 2011 г.  N
            242-ФЗ  - Собрание законодательства Российской Федерации,  2011,  N
            30, ст. 4590)

            Статья 31. Межведомственный и ведомственный контроль

            Межведомственный контроль     за      обеспечением      защиты
            государственной тайны в органах государственной власти осуществляют
            федеральный орган исполнительной власти,  уполномоченный в  области
            обеспечения безопасности,  федеральный орган исполнительной власти,
            уполномоченный в области обороны,  федеральный орган исполнительной
            власти,  уполномоченный  в  области  внешней разведки,  федеральный
            орган   исполнительной    власти,    уполномоченный    в    области
            противодействия техническим    разведкам   и   технической   защиты
            информации,  и их территориальные органы,  на которые  эта  функция
            возложена    законодательством   Российской   Федерации   (в   ред.
            Федерального закона от 6  октября  1997  г.  N  131-ФЗ  -  Собрание
            законодательства  Российской  Федерации,  1997,  N  41,  ст.  4673;
            Федерального  закона  от  30  июня  2003  г.  N  86-ФЗ  -  Собрание
            законодательства  Российской  Федерации,  2003,  N  27,  ст.  2700;
            Федерального  закона  от  29  июня  2004  г.  N  58-ФЗ  -  Собрание
            законодательства  Российской  Федерации,  2004,  N  27,  ст.  2711;
            Федерального закона  от  18  июля  2011  г.  N  242-ФЗ  -  Собрание
            законодательства Российской Федерации, 2011, N 30, ст. 4590).
            Органы государственной  власти,  наделенные  в  соответствии с
            настоящим  Законом   полномочиями   по   распоряжению   сведениями,
            составляющими   государственную   тайну,   обязаны   контролировать
            эффективность  защиты  этих  сведений   во   всех   подчиненных   и
            подведомственных    их    органах    государственной   власти,   на
            предприятиях, в учреждениях и организациях, осуществляющих работу с
            ними.
            Контроль за  обеспечением  защиты  государственной   тайны   в
            Администрации  Президента  Российской Федерации,  в аппаратах палат
            Федерального   Собрания,   Правительства    Российской    Федерации
            организуется  их  руководителями  (в ред.  Федерального закона от 6
            октября 1997 г.  N 131-ФЗ -  Собрание  законодательства  Российской
            Федерации, 1997, N 41, ст. 4673).
            Контроль за  обеспечением  защиты  государственной   тайны   в
            судебных  органах и органах прокуратуры организуется руководителями
            этих органов.

            Статья 32. Прокурорский надзор

            Надзор за соблюдением законодательства при обеспечении  защиты
            государственной  тайны  и  законностью принимаемых при этом решений
            осуществляют   Генеральный   прокурор   Российской   Федерации    и
            подчиненные ему прокуроры.
            Доступ лиц,  осуществляющих прокурорский надзор,  к сведениям,
            составляющим  государственную тайну,  осуществляется в соответствии
            со статьей 25 настоящего Закона.
        </div>
    </ion-content>
</ion-view>