<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('o_gos_taine')"><img src="../img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title"> Раздел 2. Перечень сведений, составляющих государственную тайну</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">

            Статья  5. Перечень сведений, составляющих
            государственную тайну

            Государственную тайну составляют:
            1) сведения в военной области:
            о содержании  стратегических и оперативных планов,  документов
            боевого   управления   по   подготовке   и   проведению   операций,
            стратегическому,   оперативному  и  мобилизационному  развертыванию
            Вооруженных  Сил  Российской  Федерации,  других  войск,   воинских
            формирований  и  органов,  предусмотренных  Федеральным законом "Об
            обороне",  об их боевой и мобилизационной готовности,  о создании и
            об использовании мобилизационных ресурсов;
            о планах строительства Вооруженных Сил  Российской  Федерации,
            других   войск   Российской   Федерации,  о  направлениях  развития
            вооружения и военной техники, о содержании и результатах выполнения
            целевых программ, научно-исследовательских и опытно-конструкторских
            работ по созданию и  модернизации  образцов  вооружения  и  военной
            техники;
            о разработке,    технологии,    производстве,    об    объемах
            производства,  о  хранении,  об утилизации ядерных боеприпасов,  их
            составных частей,  делящихся  ядерных  материалов,  используемых  в
            ядерных боеприпасах, о технических средствах и (или) методах защиты
            ядерных боеприпасов от несанкционированного применения,  а также  о
            ядерных   энергетических   и   специальных   физических  установках
            оборонного значения;
            о тактико-технических  характеристиках  и возможностях боевого
            применения образцов вооружения  и  военной  техники,  о  свойствах,
            рецептурах  или  технологиях  производства  новых  видов  ракетного
            топлива или взрывчатых веществ военного назначения;
            о дислокации,  назначении,  степени  готовности,  защищенности
            режимных  и  особо   важных   объектов,   об   их   проектировании,
            строительстве  и  эксплуатации,  а  также об отводе земель,  недр и
            акваторий для этих объектов;
            о дислокации, действительных наименованиях, об организационной
            структуре,  о вооружении,  численности войск и состоянии их боевого
            обеспечения,  а  также  о  военно-политической  и (или) оперативной
            обстановке;
            2) сведения в области экономики, науки и техники:
            о содержании  планов  подготовки  Российской  Федерации  и  ее
            отдельных регионов к возможным военным действиям, о мобилизационных
            мощностях промышленности по изготовлению  и  ремонту  вооружения  и
            военной  техники,  об  объемах  производства,  поставок,  о запасах
            стратегических видов сырья и  материалов,  а  также  о  размещении,
            фактических    размерах    и   об   использовании   государственных
            материальных резервов;
            об использовании  инфраструктуры  Российской Федерации в целях
            обеспечения обороноспособности и безопасности государства;
            о силах   и   средствах  гражданской  обороны,  о  дислокации,
            предназначении и степени  защищенности  объектов  административного
            управления,   о   степени  обеспечения  безопасности  населения,  о
            функционировании транспорта и связи в Российской Федерации в  целях
            обеспечения безопасности государства;
            об объемах,  о планах (заданиях)  государственного  оборонного
            заказа,   о   выпуске  и  поставках  (в  денежном  или  натуральном
            выражении)  вооружения,  военной   техники   и   другой   оборонной
            продукции,  о  наличии  и  наращивании  мощностей по их выпуску,  о
            связях  предприятий  по  кооперации,   о   разработчиках   или   об
            изготовителях   указанных  вооружения,  военной  техники  и  другой
            оборонной продукции;
            о достижениях науки и техники,  о научно-исследовательских, об
            опытно-конструкторских,  о проектных работах и технологиях, имеющих
            важное   оборонное   или   экономическое   значение,   влияющих  на
            безопасность государства;
            о запасах   платины,  металлов  платиновой  группы,  природных
            алмазов в Государственном фонде драгоценных металлов и  драгоценных
            камней   Российской   Федерации,   Центральном   банке   Российской
            Федерации,  а  также  об  объемах   запасов   в   недрах,   добычи,
            производства и потребления стратегических видов полезных ископаемых
            Российской  Федерации  (по  списку,  определяемому   Правительством
            Российской Федерации) (в ред. Федерального закона от 11 ноября 2003
            г. N 153-ФЗ - Собрание законодательства Российской Федерации, 2003,
            N 46, ст. 4449);
            3) сведения в области внешней политики и экономики:
            о внешнеполитической,     внешнеэкономической     деятельности
            Российской Федерации, преждевременное распространение которых может
            нанести ущерб безопасности государства;
            о финансовой политике в отношении иностранных  государств  (за
            исключением  обобщенных  показателей  по внешней задолженности),  а
            также   о   финансовой    или    денежно-кредитной    деятельности,
            преждевременное   распространение   которых   может  нанести  ущерб
            безопасности государства;
            4) сведения в области разведывательной,  контрразведывательной
            и   оперативно-розыскной   деятельности,   а   также   в    области
            противодействия  терроризму  и  в  области обеспечения безопасности
            лиц,  в  отношении  которых  принято  решение  о   применении   мер
            государственной  защиты  (в  ред.  Федерального закона от 15 ноября
            2010 г.  N 299-ФЗ - Собрание законодательства Российской Федерации,
            2010,  N 47,  ст. 6033; Федерального закона от 21 декабря 2013 г. N
            377-ФЗ - Собрание законодательства Российской  Федерации,  2013,  N
            51, ст. 6697):
            о силах,  средствах,  об  источниках,  о  методах,  планах   и
            результатах         разведывательной,        контрразведывательной,
            оперативно-розыскной деятельности и деятельности по противодействию
            терроризму, а также данные о финансировании этой деятельности, если
            эти данные раскрывают перечисленные сведения (в  ред.  Федерального
            закона  от  15 ноября 2010 г.  N 299-ФЗ - Собрание законодательства
            Российской Федерации, 2010, N 47, ст. 6033);
            о силах,   средствах,  об  источниках,  о  методах,  планах  и
            результатах  деятельности  по  обеспечению  безопасности   лиц,   в
            отношении  которых принято решение о применении мер государственной
            защиты,  данные о финансировании этой деятельности, если эти данные
            раскрывают  перечисленные  сведения,  а также отдельные сведения об
            указанных лицах (абзац введен Федеральным  законом  от  21  декабря
            2013 г.  N 377-ФЗ - Собрание законодательства Российской Федерации,
            2013, N 51, ст. 6697);
            о лицах, сотрудничающих или сотрудничавших на конфиденциальной
            основе     с     органами,     осуществляющими    разведывательную,
            контрразведывательную и оперативно-розыскную деятельность;
            об организации,  о  силах,  средствах  и  методах  обеспечения
            безопасности объектов государственной  охраны,  а  также  данные  о
            финансировании   этой  деятельности,  если  эти  данные  раскрывают
            перечисленные сведения;
            о системе президентской, правительственной, шифрованной, в том
            числе кодированной и засекреченной связи,  о шифрах,  о разработке,
            об  изготовлении  шифров  и обеспечении ими,  о методах и средствах
            анализа шифровальных  средств  и  средств  специальной  защиты,  об
            информационно-аналитических системах специального назначения;
            о методах и средствах защиты секретной информации;
            об организации    и    о    фактическом    состоянии    защиты
            государственной тайны;
            о защите   Государственной   границы   Российской   Федерации,
            исключительной  экономической  зоны   и   континентального   шельфа
            Российской Федерации;
            о расходах  федерального  бюджета,  связанных  с  обеспечением
            обороны, безопасности государства и правоохранительной деятельности
            в Российской Федерации;
            о подготовке  кадров,  раскрывающие мероприятия,  проводимые в
            целях обеспечения безопасности государства;
            о мерах по обеспечению защищенности критически важных объектов
            и потенциально опасных объектов инфраструктуры Российской Федерации
            от  террористических  актов (абзац введен Федеральным законом от 15
            ноября 2010 г.  N 299-ФЗ  -  Собрание  законодательства  Российской
            Федерации,  2010, N 47, ст. 6033);
            о результатах  финансового мониторинга в отношении организаций
            и физических лиц,  полученных в  связи  с  проверкой  их  возможной
            причастности   к   террористической   деятельности   (абзац  введен
            Федеральным законом от 15  ноября  2010  г.  N  299-ФЗ  -  Собрание
            законодательства Российской Федерации, 2010, N 47, ст. 6033).
            (Статья 5  в ред.  Федерального закона от 6 октября 1997 г.  N
            131-ФЗ - Собрание законодательства Российской  Федерации,  1997,  N
            41, ст. 4673)
        </div>
    </ion-content>
</ion-view>