<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <h1 class="title"> Раздел 4. Рассекречивание сведений и их носителей</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 13. Порядок рассекречивания сведений

            Рассекречивание сведений   и   их  носителей  -  снятие  ранее
            введенных в предусмотренном настоящим Законом  порядке  ограничений
            на распространение сведений,  составляющих государственную тайну, и
            на доступ к их носителям.
            Основаниями для рассекречивания сведений являются:
            взятие на    себя    Российской    Федерацией    международных
            обязательств   по  открытому  обмену  сведениями,  составляющими  в
            Российской Федерации государственную тайну;
            изменение объективных   обстоятельств,   вследствие   которого
            дальнейшая защита  сведений,  составляющих  государственную  тайну,
            является нецелесообразной.
            Органы государственной власти,  руководители которых  наделены
            полномочиями по отнесению сведений к государственной тайне, обязаны
            периодически,  но не реже чем через каждые  5  лет,  пересматривать
            содержание   действующих   в  органах  государственной  власти,  на
            предприятиях,  в  учреждениях  и  организациях  перечней  сведений,
            подлежащих  засекречиванию,  в  части обоснованности засекречивания
            сведений и их соответствия установленной ранее степени секретности.
            Срок засекречивания   сведений,  составляющих  государственную
            тайну,  не должен превышать 30 лет.  В исключительных случаях  этот
            срок  может быть продлен по заключению межведомственной комиссии по
            защите государственной тайны.
            Правом изменения действующих в органах государственной власти,
            на предприятиях,  в учреждениях и организациях  перечней  сведений,
            подлежащих  засекречиванию,  наделяются утвердившие их руководители
            органов  государственной   власти,   которые   несут   персональную
            ответственность   за   обоснованность   принятых   ими  решений  по
            рассекречиванию   сведений.   Решения   указанных    руководителей,
            связанные    с    изменением   перечня   сведений,   отнесенных   к
            государственной тайне,  подлежат  согласованию  с  межведомственной
            комиссией   по   защите   государственной   тайны,  которая  вправе
            приостанавливать и опротестовывать эти решения.

            Статья 14. Порядок   рассекречивания   носителей   сведений,
            составляющих государственную тайну

            Носители сведений,    составляющих    государственную   тайну,
            рассекречиваются  не   позднее   сроков,   установленных   при   их
            засекречивании.   До   истечения   этих  сроков  носители  подлежат
            рассекречиванию,  если изменены  положения  действующего  в  данном
            органе  государственной  власти,  на  предприятии,  в  учреждении и
            организации перечня, на основании которых они были засекречены.
            В исключительных   случаях   право   продления   первоначально
            установленных    сроков    засекречивания    носителей    сведений,
            составляющих  государственную тайну,  предоставляется руководителям
            государственных  органов,  наделенным  полномочиями  по   отнесению
            соответствующих  сведений  к  государственной  тайне,  на основании
            заключения  назначенной  ими  в  установленном  порядке  экспертной
            комиссии.
            Руководители органов  государственной   власти,   предприятий,
            учреждений и организаций наделяются полномочиями по рассекречиванию
            носителей сведений,  необоснованно  засекреченных  подчиненными  им
            должностными лицами.
            Руководители государственных  архивов   Российской   Федерации
            наделяются  полномочиями  по  рассекречиванию  носителей  сведений,
            составляющих  государственную  тайну,  находящихся  на  хранении  в
            закрытых  фондах  этих  архивов,  в  случае  делегирования им таких
            полномочий организацией-фондообразователем или ее  правопреемником.
            В  случае  ликвидации организации-фондообразователя и отсутствия ее
            правопреемника вопрос о порядке рассекречивания носителей сведений,
            составляющих       государственную      тайну,      рассматривается
            межведомственной комиссией по защите государственной тайны.

            Статья 15. Исполнение    запросов   граждан,   предприятий,
            учреждений,  организаций и органов государственной
            власти   Российской  Федерации  о  рассекречивании
            сведений

            Граждане, предприятия,   учреждения,   организации   и  органы
            государственной власти Российской  Федерации  вправе  обратиться  в
            органы   государственной  власти,  на  предприятия,  в  учреждения,
            организации,  в том числе в государственные архивы,  с  запросом  о
            рассекречивании сведений, отнесенных к государственной тайне.
            Органы государственной   власти,   предприятия,    учреждения,
            организации,  в том числе государственные архивы,  получившие такой
            запрос,  обязаны в течение трех  месяцев  рассмотреть  его  и  дать
            мотивированный  ответ  по существу запроса.  Если они не правомочны
            решить вопрос о рассекречивании запрашиваемых сведений, то запрос в
            месячный   срок  с  момента  его  поступления  передается  в  орган
            государственной власти,  наделенный  такими  полномочиями,  либо  в
            межведомственную  комиссию  по защите государственной тайны,  о чем
            уведомляются  граждане,  предприятия,  учреждения,  организации   и
            органы   государственной   власти  Российской  Федерации,  подавшие
            запрос.
            Уклонение должностных  лиц от рассмотрения запроса по существу
            влечет за собой административную (дисциплинарную) ответственность в
            соответствии с действующим законодательством.
            Обоснованность отнесения  сведений  к  государственной   тайне
            может  быть обжалована в суд.  При признании судом необоснованности
            засекречивания сведений эти  сведения  подлежат  рассекречиванию  в
            установленном настоящим Законом порядке.
        </div>
    </ion-content>
</ion-view>