<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <h1 class="title"> Раздел 5. Распоряжение сведениями, составляющими
            государственную тайну</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 16.  Взаимная    передача    сведений,   составляющих
            государственную тайну,  органами  государственной
            власти,     предприятиями,     учреждениями     и
            организациями

            Взаимная передача   сведений,   составляющих   государственную
            тайну,     осуществляется    органами    государственной    власти,
            предприятиями,  учреждениями  и  организациями,  не  состоящими   в
            отношениях  подчиненности  и  не  выполняющими совместных работ,  с
            санкции органа государственной власти,  в распоряжении  которого  в
            соответствии со статьей 9 настоящего Закона находятся эти сведения.
            Органы государственной  власти,  предприятия,   учреждения   и
            организации,  запрашивающие сведения,  составляющие государственную
            тайну,  обязаны  создать  условия,   обеспечивающие   защиту   этих
            сведений.  Их  руководители  несут  персональную ответственность за
            несоблюдение   установленных   ограничений   по   ознакомлению   со
            сведениями, составляющими государственную тайну.
            Обязательным условием  для  передачи  сведений,   составляющих
            государственную     тайну,    органам    государственной    власти,
            предприятиям,  учреждениям и организациям является  выполнение  ими
            требований, предусмотренных в статье 27 настоящего Закона.

            Статья 17. Передача  сведений,  составляющих  государственную
            тайну,  в связи с выполнением совместных и других
            работ

            Передача сведений,    составляющих    государственную   тайну,
            предприятиям,  учреждениям,  организациям или гражданам в  связи  с
            выполнением  совместных  и  других  работ осуществляется заказчиком
            этих  работ  с  разрешения   органа   государственной   власти,   в
            распоряжении которого в соответствии со статьей 9 настоящего Закона
            находятся соответствующие сведения,  и только в объеме, необходимом
            для   выполнения   этих  работ.  При  этом  до  передачи  сведений,
            составляющих государственную тайну,  заказчик  обязан  убедиться  в
            наличии  у  предприятия,  учреждения  или  организации  лицензии на
            проведение работ с использованием сведений соответствующей  степени
            секретности, а у граждан - соответствующего допуска.
            Предприятия, учреждения  или  организации,  в  том   числе   и
            негосударственных  форм собственности,  при проведении совместных и
            других работ (получении государственных заказов) и возникновении  в
            связи  с этим необходимости в использовании сведений,  составляющих
            государственную   тайну,   могут   заключать   с   государственными
            предприятиями,   учреждениями   или   организациями   договоры   об
            использовании  услуг  их  структурных   подразделений   по   защите
            государственной  тайны,  о  чем  делается соответствующая отметка в
            лицензиях  на   проведение   работ   с   использованием   сведений,
            составляющих государственную тайну, обеих договаривающихся сторон.
            В договоре  на   проведение   совместных   и   других   работ,
            заключаемом  в  установленном  законом  порядке,  предусматриваются
            взаимные обязательства сторон по обеспечению сохранности  сведений,
            составляющих  государственную  тайну,  как  в  процессе  проведения
            работ, так и по их завершении, а также условия финансирования работ
            (услуг) по защите сведений, составляющих государственную тайну.
            Организация контроля за эффективностью защиты  государственной
            тайны  при  проведении  совместных  и  других  работ возлагается на
            заказчика этих работ  в  соответствии  с  положениями  заключенного
            сторонами договора.
            При нарушении исполнителем в ходе совместных  и  других  работ
            взятых   на  себя  обязательств  по  защите  государственной  тайны
            заказчик  вправе  приостановить  выполнение  заказа  до  устранения
            нарушений,  а  при  повторных  нарушениях  -  поставить  вопрос  об
            аннулировании   заказа   и   лицензии   на   проведение   работ   с
            использованием  сведений,  составляющих государственную тайну,  и о
            привлечении виновных лиц к ответственности.  При этом  материальный
            ущерб,   нанесенный  исполнителем  государству  в  лице  заказчика,
            подлежит взысканию в соответствии с действующим законодательством.

            Статья 18. Передача  сведений,  составляющих  государственную
            тайну, другим государствам или международным
            организациям
            (наименование в ред.  Федерального закона от 1 декабря 2007 г.
            N 294-ФЗ - Собрание законодательства Российской Федерации,  2007, N
            49, ст. 6055)

            Решение о   передаче  сведений,  составляющих  государственную
            тайну,   другим   государствам   или   международным   организациям
            принимается   Правительством   Российской   Федерации  при  наличии
            экспертного  заключения   межведомственной   комиссии   по   защите
            государственной  тайны о возможности передачи этих сведений (в ред.
            Федерального закона от 1  декабря  2007  г.  N  294-ФЗ  -  Собрание
            законодательства Российской Федерации, 2007, N 49, ст. 6055).
            Обязательства принимающей стороны по  защите  передаваемых  ей
            сведений    предусматриваются    заключаемым    с   ней   договором
            (соглашением).

            Статья 19. Защита   сведений,  составляющих  государственную
            тайну,    при    изменении    функций    субъектов
            правоотношений

            Органы государственной  власти,  предприятия,   учреждения   и
            организации,      располагающие      сведениями,      составляющими
            государственную  тайну,  в  случаях  изменения  их  функций,   форм
            собственности,  ликвидации  или  прекращения работ с использованием
            сведений,  составляющих государственную тайну, обязаны принять меры
            по  обеспечению  защиты  этих  сведений  и  их носителей.  При этом
            носители   сведений,   составляющих   государственную   тайну,    в
            установленном  порядке  уничтожаются,  сдаются на архивное хранение
            либо передаются:
            правопреемнику органа   государственной  власти,  предприятия,
            учреждения или организации, располагающих сведениями, составляющими
            государственную тайну,  если этот правопреемник имеет полномочия по
            проведению работ с использованием указанных сведений;
            органу государственной   власти,  в  распоряжении  которого  в
            соответствии   со   статьей   9   настоящего    Закона    находятся
            соответствующие сведения;
            другому органу государственной власти, предприятию, учреждению
            или  организации  по  указанию  межведомственной комиссии по защите
            государственной тайны.
        </div>
    </ion-content>
</ion-view>