<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('ob_oborone')"><img src="../img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">Раздел 3. Отнесение сведений к государственной тайнеи их засекречивание</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья  6. Принципы отнесения сведений к государственной
            тайне и засекречивания этих сведений
            (наименование в ред.  Федерального закона от 6 октября 1997 г.
            N 131-ФЗ - Собрание законодательства Российской Федерации,  1997, N
            41, ст. 4673)

            Отнесение сведений к государственной тайне и их засекречивание
            -   введение   в  предусмотренном  настоящим  Законом  порядке  для
            сведений,  составляющих государственную тайну,  ограничений  на  их
            распространение  и  на  доступ к их носителям (в ред.  Федерального
            закона от 6 октября 1997 г.  N 131-ФЗ -  Собрание  законодательства
            Российской Федерации, 1997, N 41, ст. 4673).
            Отнесение сведений к государственной тайне и их засекречивание
            осуществляется    в    соответствии    с   принципами   законности,
            обоснованности и своевременности (в ред.  Федерального закона от  6
            октября  1997  г.  N  131-ФЗ - Собрание законодательства Российской
            Федерации, 1997, N 41, ст. 4673).
            Законность отнесения  сведений  к  государственной  тайне и их
            засекречивания заключается в соответствии засекречиваемых  сведений
            положениям  статей  5  и  7  настоящего  Закона  и законодательству
            Российской Федерации о государственной тайне (в  ред.  Федерального
            закона  от  6 октября 1997 г.  N 131-ФЗ - Собрание законодательства
            Российской Федерации, 1997, N 41, ст. 4673).
            Обоснованность отнесения сведений к государственной тайне и их
            засекречивания заключается в установлении путем  экспертной  оценки
            целесообразности   засекречивания  конкретных  сведений,  вероятных
            экономических и иных  последствий  этого  акта  исходя  из  баланса
            жизненно  важных интересов государства,  общества и граждан (в ред.
            Федерального закона от 6  октября  1997  г.  N  131-ФЗ  -  Собрание
            законодательства Российской Федерации, 1997, N 41, ст. 4673).
            Своевременность отнесения сведений к государственной  тайне  и
            их   засекречивания   заключается  в  установлении  ограничений  на
            распространение этих сведений с момента их  получения  (разработки)
            или  заблаговременно (в ред.  Федерального закона от 6 октября 1997
            г. N 131-ФЗ - Собрание законодательства Российской Федерации, 1997,
            N 41, ст. 4673).

            Статья  7. Сведения, не  подлежащие  отнесению  к
            государственной тайне и засекречиванию
            (наименование в ред.  Федерального закона от 6 октября 1997 г.
            N 131-ФЗ - Собрание законодательства Российской Федерации,  1997, N
            41, ст. 4673)

            Не подлежат отнесению к государственной тайне и засекречиванию
            сведения (в ред.  Федерального закона от 6 октября 1997 г. N 131-ФЗ
            - Собрание законодательства Российской Федерации,  1997,  N 41, ст.
            4673):
            о чрезвычайных   происшествиях   и   катастрофах,   угрожающих
            безопасности и здоровью граждан,  и  их  последствиях,  а  также  о
            стихийных бедствиях, их официальных прогнозах и последствиях;
            о состоянии экологии,  здравоохранения, санитарии, демографии,
            образования,  культуры,  сельского  хозяйства,  а также о состоянии
            преступности;
            о привилегиях,    компенсациях    и    социальных   гарантиях,
            предоставляемых   государством   гражданам,   должностным    лицам,
            предприятиям,  учреждениям  и  организациям  (в  ред.  Федерального
            закона от 22 августа 2004 г.  N 122-ФЗ - Собрание  законодательства
            Российской Федерации, 2004, N 35, ст. 3607);
            о фактах нарушения прав и свобод человека и гражданина;
            о размерах золотого запаса и государственных валютных резервах
            Российской Федерации;
            о состоянии   здоровья   высших   должностных  лиц  Российской
            Федерации;
            о фактах  нарушения законности органами государственной власти
            и их должностными лицами.
            Должностные лица,    принявшие    решения   о   засекречивании
            перечисленных сведений либо о включении их в этих целях в  носители
            сведений,  составляющих  государственную  тайну,  несут  уголовную,
            административную или дисциплинарную ответственность  в  зависимости
            от  причиненного обществу,  государству и гражданам материального и
            морального ущерба. Граждане вправе обжаловать такие решения в суд.

            Статья 8. Степени секретности  сведений и  грифы  секретности
            носителей этих сведений

            Степень секретности   сведений,  составляющих  государственную
            тайну, должна соответствовать степени тяжести ущерба, который может
            быть   нанесен   безопасности   Российской   Федерации   вследствие
            распространения указанных сведений.
            Устанавливаются три степени секретности сведений, составляющих
            государственную  тайну,  и  соответствующие  этим  степеням   грифы
            секретности  для  носителей указанных сведений:  "особой важности",
            "совершенно секретно" и "секретно".
            Порядок определения   размеров   ущерба,  который  может  быть
            нанесен    безопасности     Российской     Федерации     вследствие
            распространения  сведений,  составляющих  государственную тайну,  и
            правила  отнесения  указанных  сведений  к  той  или  иной  степени
            секретности устанавливаются Правительством Российской Федерации.
            Использование перечисленных     грифов     секретности     для
            засекречивания сведений,  не отнесенных к государственной тайне, не
            допускается.

            Статья 9. Порядок отнесения сведений к государственной тайне

            Отнесение сведений к государственной  тайне  осуществляется  в
            соответствии с их отраслевой,  ведомственной или программно-целевой
            принадлежностью, а также в соответствии с настоящим Законом (в ред.
            Федерального  закона  от  6  октября  1997  г.  N 131-ФЗ - Собрание
            законодательства Российской Федерации, 1997, N 41, ст. 4673).
            Обоснование необходимости отнесения сведений к государственной
            тайне  в  соответствии   с   принципами   засекречивания   сведений
            возлагается   на   органы   государственной   власти,  предприятия,
            учреждения  и   организации,   которыми   эти   сведения   получены
            (разработаны).
            Отнесение сведений к государственной  тайне  осуществляется  в
            соответствии  с  Перечнем  сведений,  составляющих  государственную
            тайну,  определяемым  настоящим  Законом,  руководителями   органов
            государственной  власти  в соответствии с Перечнем должностных лиц,
            наделенных полномочиями по  отнесению  сведений  к  государственной
            тайне,  утверждаемым  Президентом  Российской Федерации.  Указанные
            лица несут персональную ответственность за принятые ими  решения  о
            целесообразности  отнесения  конкретных  сведений к государственной
            тайне (в ред.  Федерального закона от 6 октября 1997 г.  N 131-ФЗ -
            Собрание  законодательства Российской Федерации,  1997,  N 41,  ст.
            4673).
            Для осуществления  единой  государственной  политики в области
            засекречивания  сведений  межведомственная   комиссия   по   защите
            государственной    тайны    формирует   по   предложениям   органов
            государственной  власти  и  в  соответствии  с  Перечнем  сведений,
            составляющих государственную тайну, Перечень сведений, отнесенных к
            государственной  тайне.   В   этом   Перечне   указываются   органы
            государственной  власти,  наделяемые  полномочиями  по распоряжению
            данными сведениями.  Указанный  Перечень  утверждается  Президентом
            Российской    Федерации,   подлежит   открытому   опубликованию   и
            пересматривается по мере необходимости (в ред.  Федерального закона
            от   6  октября  1997  г.  N  131-ФЗ  -  Собрание  законодательства
            Российской Федерации, 1997, N 41, ст. 4673).
            Органами государственной власти, руководители которых наделены
            полномочиями по  отнесению  сведений  к  государственной  тайне,  в
            соответствии  с  Перечнем  сведений,  отнесенных  к государственной
            тайне,  разрабатываются развернутые  перечни  сведений,  подлежащих
            засекречиванию.  В эти перечни включаются сведения, полномочиями по
            распоряжению которыми наделены указанные органы,  и устанавливается
            степень  их секретности.  В рамках целевых программ по разработке и
            модернизации    образцов    вооружения    и    военной     техники,
            опытно-конструкторских  и научно-исследовательских работ по решению
            заказчиков  указанных  образцов  и  работ   могут   разрабатываться
            отдельные перечни сведений,  подлежащих засекречиванию. Эти перечни
            утверждаются      соответствующими      руководителями      органов
            государственной   власти.   Целесообразность  засекречивания  таких
            перечней определяется их содержанием (в ред. Федерального закона от
            6  октября 1997 г.  N 131-ФЗ - Собрание законодательства Российской
            Федерации, 1997, N 41, ст. 4673).

            Статья 10. Ограничение   прав   собственности   предприятий,
            учреждений,  организаций   и  граждан Российской
            Федерации    на    информацию  в  связи с ее
            засекречиванием

            Должностные лица,   наделенные   в   порядке,  предусмотренном
            статьей 9 настоящего Закона,  полномочиями по отнесению сведений  к
            государственной  тайне,  вправе  принимать решения о засекречивании
            информации,  находящейся в собственности  предприятий,  учреждений,
            организаций  и  граждан (далее - собственник информации),  если эта
            информация включает сведения,  перечисленные  в  Перечне  сведений,
            отнесенных   к   государственной  тайне.  Засекречивание  указанной
            информации осуществляется по представлению собственников информации
            или соответствующих органов государственной власти.
            Материальный ущерб,  наносимый собственнику информации в связи
            с   ее   засекречиванием,   возмещается  государством  в  размерах,
            определяемых в договоре между  органом  государственной  власти,  в
            распоряжение которого переходит эта информация, и ее собственником.
            В  договоре  также  предусматриваются  обязательства   собственника
            информации   по   ее  нераспространению.  При  отказе  собственника
            информации   от   подписания   договора   он   предупреждается   об
            ответственности  за  несанкционированное  распространение сведений,
            составляющих государственную тайну,  в соответствии  с  действующим
            законодательством.
            Собственник информации  вправе  обжаловать  в   суд   действия
            должностных лиц, ущемляющие, по мнению собственника информации, его
            права.  В  случае  признания   судом   действий   должностных   лиц
            незаконными  порядок  возмещения  ущерба,  нанесенного собственнику
            информации, определяется решением суда в соответствии с действующим
            законодательством.
            Не может быть ограничено  право  собственности  на  информацию
            иностранных организаций и иностранных граждан,  если эта информация
            получена   (разработана)   ими   без   нарушения   законодательства
            Российской Федерации.

            Статья 11. Порядок засекречивания сведений и их носителей

            Основанием для     засекречивания     сведений,     полученных
            (разработанных)  в  результате  управленческой,   производственной,
            научной  и  иных видов деятельности органов государственной власти,
            предприятий,  учреждений и организаций,  является  их  соответствие
            действующим  в  данных  органах,  на данных предприятиях,  в данных
            учреждениях   и   организациях   перечням   сведений,    подлежащих
            засекречиванию.  При  засекречивании  этих  сведений  их  носителям
            присваивается соответствующий гриф секретности.
            При невозможности   идентификации  полученных  (разработанных)
            сведений  со  сведениями,  содержащимися  в  действующем   перечне,
            должностные   лица  органов  государственной  власти,  предприятий,
            учреждений  и  организаций   обязаны   обеспечить   предварительное
            засекречивание полученных (разработанных) сведений в соответствии с
            предполагаемой степенью секретности и в месячный срок  направить  в
            адрес   должностного   лица,   утвердившего   указанный   перечень,
            предложения по его дополнению (изменению).
            Должностные лица,  утвердившие действующий перечень, обязаны в
            течение трех месяцев  организовать  экспертную  оценку  поступивших
            предложений   и   принять   решение   по   дополнению   (изменению)
            действующего  перечня  или   снятию   предварительно   присвоенного
            сведениям грифа секретности.

            Статья 12. Реквизиты   носителей   сведений,   составляющих
            государственную тайну

            На носители  сведений,  составляющих  государственную   тайну,
            наносятся реквизиты, включающие следующие данные:
            о степени секретности  содержащихся  в  носителе  сведений  со
            ссылкой  на  соответствующий  пункт  действующего  в  данном органе
            государственной власти,  на данном предприятии, в данных учреждении
            и организации перечня сведений, подлежащих засекречиванию;
            об органе   государственной   власти,   о   предприятии,    об
            учреждении, организации, осуществивших засекречивание носителя;
            о регистрационном номере;
            о дате  или  условии  рассекречивания сведений либо о событии,
            после наступления которого сведения будут рассекречены.
            При невозможности   нанесения  таких  реквизитов  на  носитель
            сведений,   составляющих   государственную   тайну,   эти    данные
            указываются в сопроводительной документации на этот носитель.
            Если носитель содержит составные части с различными  степенями
            секретности,   каждой   из   этих  составных  частей  присваивается
            соответствующий гриф секретности,  а носителю в целом присваивается
            гриф секретности,  соответствующий тому грифу секретности,  который
            присваивается его  составной  части,  имеющей  высшую  для  данного
            носителя степень секретности сведений.
            Помимо перечисленных в настоящей статье реквизитов на носителе
            и  (или) в сопроводительной документации к нему могут проставляться
            дополнительные отметки,  определяющие полномочия должностных лиц по
            ознакомлению  с  содержащимися  в  этом носителе сведениями.  Вид и
            порядок проставления дополнительных  отметок  и  других  реквизитов
            определяются нормативными документами, утверждаемыми Правительством
            Российской Федерации.
        </div>
    </ion-content>
</ion-view>