<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('ob_oborone')"><img src="img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">Раздел 6. Защита государственной тайны</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 20. Органы защиты государственной тайны

            К органам защиты государственной тайны относятся:
            межведомственная комиссия по защите государственной тайны;
            федеральный орган   исполнительной  власти,  уполномоченный  в
            области обеспечения безопасности,  федеральный орган исполнительной
            власти,   уполномоченный   в  области  обороны,  федеральный  орган
            исполнительной власти,  уполномоченный в области внешней  разведки,
            федеральный  орган исполнительной власти,  уполномоченный в области
            противодействия  техническим   разведкам   и   технической   защиты
            информации, и их территориальные органы (в ред. Федерального закона
            от 29 июня 2004 г.  N 58-ФЗ - Собрание законодательства  Российской
            Федерации, 2004, N 27, ст. 2711);
            органы государственной  власти,  предприятия,   учреждения   и
            организации    и    их    структурные   подразделения   по   защите
            государственной тайны.
            Межведомственная комиссия   по  защите  государственной  тайны
            является коллегиальным органом, координирующим деятельность органов
            государственной  власти по защите государственной тайны в интересах
            разработки и выполнения  государственных  программ,  нормативных  и
            методических документов, обеспечивающих реализацию законодательства
            Российской   Федерации    о    государственной    тайне.    Функции
            межведомственной  комиссии  по  защите  государственной  тайны и ее
            надведомственные полномочия реализуются в соответствии с Положением
            о   межведомственной  комиссии  по  защите  государственной  тайны,
            утверждаемым Президентом Российской Федерации.
            Федеральный орган   исполнительной  власти,  уполномоченный  в
            области обеспечения безопасности,  федеральный орган исполнительной
            власти,   уполномоченный   в  области  обороны,  федеральный  орган
            исполнительной власти,  уполномоченный в области внешней  разведки,
            федеральный  орган исполнительной власти,  уполномоченный в области
            противодействия  техническим   разведкам   и   технической   защиты
            информации,  и  их территориальные органы организуют и обеспечивают
            защиту  государственной   тайны   в   соответствии   с   функциями,
            возложенными  на них законодательством Российской Федерации (в ред.
            Федерального  закона  от  29  июня  2004  г.  N  58-ФЗ  -  Собрание
            законодательства Российской Федерации, 2004, N 27, ст. 2711).
            Органы государственной  власти,  предприятия,   учреждения   и
            организации     обеспечивают    защиту    сведений,    составляющих
            государственную  тайну,  в  соответствии  с  возложенными  на   них
            задачами   и  в  пределах  своей  компетенции.  Ответственность  за
            организацию защиты сведений,  составляющих государственную тайну, в
            органах  государственной власти,  на предприятиях,  в учреждениях и
            организациях возлагается на  их  руководителей.  В  зависимости  от
            объема    работ    с    использованием    сведений,    составляющих
            государственную  тайну,  руководителями   органов   государственной
            власти, предприятий, учреждений и организаций создаются структурные
            подразделения по  защите  государственной  тайны,  функции  которых
            определяются    указанными    руководителями   в   соответствии   с
            нормативными документами,  утверждаемыми Правительством  Российской
            Федерации, и с учетом специфики проводимых ими работ.
            Защита государственной   тайны   является    видом    основной
            деятельности органа государственной власти, предприятия, учреждения
            или организации.

            Статья 21. Допуск должностных лиц и граждан к
            государственной тайне

            Допуск должностных   лиц  и  граждан  Российской  Федерации  к
            государственной тайне осуществляется в добровольном порядке.
            Допуск лиц,  имеющих двойное гражданство, лиц без гражданства,
            а также лиц из числа иностранных граждан, эмигрантов и реэмигрантов
            к  государственной тайне осуществляется в порядке,  устанавливаемом
            Правительством Российской Федерации.
            Допуск должностных  лиц  и  граждан  к  государственной  тайне
            предусматривает:
            принятие на    себя   обязательств   перед   государством   по
            нераспространению    доверенных    им    сведений,     составляющих
            государственную тайну;
            согласие на  частичные,  временные  ограничения  их   прав   в
            соответствии со статьей 24 настоящего Закона;
            письменное согласие на проведение в отношении их  полномочными
            органами проверочных мероприятий;
            определение видов,   размеров   и    порядка    предоставления
            социальных  гарантий,  предусмотренных  настоящим  Законом  (в ред.
            Федерального закона от 22 августа  2004  г.  N  122-ФЗ  -  Собрание
            законодательства Российской Федерации, 2004, N 35, ст. 3607);
            ознакомление с нормами законодательства Российской Федерации о
            государственной  тайне,  предусматривающими  ответственность за его
            нарушение;
            принятие решения  руководителем органа государственной власти,
            предприятия, учреждения или организации о допуске оформляемого лица
            к сведениям, составляющим государственную тайну.
            В отношении   лиц,   замещающих   должности,   предусмотренные
            Перечнем   должностей,   при   замещении   которых  лица  считаются
            допущенными к  государственной   тайне,   проводятся   мероприятия,
            предусмотренные  в  части  третьей  настоящей статьи (часть введена
            Федеральным законом  от  18  июля  2009  г.  N  180-ФЗ  -  Собрание
            законодательства Российской Федерации, 2009, N 29, ст. 3617).
            Объем проверочных  мероприятий  зависит от степени секретности
            сведений, к которым будет допускаться оформляемое лицо. Проверочные
            мероприятия   осуществляются  в  соответствии  с  законодательством
            Российской  Федерации.  Целью  проведения  проверочных  мероприятий
            является выявление оснований, предусмотренных статьей 22 настоящего
            Закона.
            Для должностных  лиц  и граждан,  допущенных к государственной
            тайне на постоянной основе,  устанавливаются  следующие  социальные
            гарантии (в ред. Федерального закона от 22 августа 2004 г. N 122-ФЗ
            - Собрание законодательства Российской Федерации,  2004,  N 35, ст.
            3607):
            процентные надбавки  к  заработной  плате  в  зависимости   от
            степени секретности сведений, к которым они имеют доступ;
            преимущественное право   при   прочих   равных   условиях   на
            оставление   на  работе  при  проведении  органами  государственной
            власти, предприятиями, учреждениями и организациями организационных
            и (или) штатных мероприятий.
            Для сотрудников   структурных    подразделений    по    защите
            государственной   тайны   дополнительно   к  социальным  гарантиям,
            установленным  для  должностных  лиц  и   граждан,   допущенных   к
            государственной   тайне   на   постоянной  основе,  устанавливается
            процентная надбавка к заработной плате за стаж работы  в  указанных
            структурных  подразделениях  (в  ред.  Федерального  закона  от  22
            августа 2004 г.  N 122-ФЗ -  Собрание  законодательства  Российской
            Федерации, 2004, N 35, ст. 3607).
            Взаимные обязательства  администрации  и   оформляемого   лица
            отражаются  в  трудовом договоре (контракте).  Заключение трудового
            договора (контракта) до окончания проверки  компетентными  органами
            не допускается.
            Устанавливаются три  формы  допуска  к  государственной  тайне
            должностных   лиц   и   граждан,   соответствующие   трем  степеням
            секретности  сведений,  составляющих   государственную   тайну:   к
            сведениям  особой  важности,  совершенно  секретным  или секретным.
            Наличие у должностных лиц  и  граждан  допуска  к  сведениям  более
            высокой  степени  секретности  является основанием для доступа их к
            сведениям более низкой степени секретности.
            Сроки, обстоятельства и порядок переоформления допуска граждан
            к государственной тайне устанавливаются  нормативными  документами,
            утверждаемыми Правительством Российской Федерации.
            Порядок допуска должностных лиц и  граждан  к  государственной
            тайне  в  условиях  объявленного чрезвычайного положения может быть
            изменен Президентом Российской Федерации.

            Статья 21-1. Особый порядок допуска к государственной
            тайне

            Члены Совета Федерации,  депутаты Государственной Думы,  судьи
            на  период  исполнения  ими  своих  полномочий,  а  также адвокаты,
            участвующие в качестве защитников в уголовном  судопроизводстве  по
            делам,   связанным  со  сведениями,  составляющими  государственную
            тайну, допускаются к сведениям, составляющим государственную тайну,
            без проведения проверочных мероприятий,  предусмотренных статьей 21
            настоящего Закона.
            Указанные лица предупреждаются о неразглашении государственной
            тайны,  ставшей им  известной  в  связи  с  исполнением  ими  своих
            полномочий,  и  о  привлечении  их  к  ответственности  в случае ее
            разглашения, о чем у них отбирается соответствующая расписка.
            Сохранность государственной     тайны    в    таких    случаях
            гарантируется  путем  установления  ответственности  указанных  лиц
            федеральным законом.
            (Статья 21-1 введена Федеральным законом от 6 октября 1997  г.
            N 131-ФЗ - Собрание законодательства Российской Федерации,  1997, N
            41, ст. 4673)

            Статья 22. Основания   для   отказа  должностному  лицу  или
            гражданину в допуске к государственной тайне

            Основаниями для  отказа  должностному  лицу  или  гражданину в
            допуске к государственной тайне могут являться:
            признание его  судом недееспособным,  ограниченно дееспособным
            или рецидивистом,  нахождение  его  под  судом  или  следствием  за
            государственные и иные тяжкие преступления, наличие у него неснятой
            судимости за эти преступления (в  ред.  Федерального  закона  от  6
            октября  1997  г.  N  131-ФЗ - Собрание законодательства Российской
            Федерации, 1997, N 41, ст. 4673);
            наличие у  него  медицинских  противопоказаний  для  работы  с
            использованием  сведений,   составляющих   государственную   тайну,
            согласно перечню,  утверждаемому федеральным органом исполнительной
            власти,  уполномоченным в  области  здравоохранения  и  социального
            развития (в ред.  Федерального закона от 29 июня 2004 г.  N 58-ФЗ -
            Собрание законодательства Российской Федерации,  2004,  N  27,  ст.
            2711);
            постоянное проживание  его  самого   и   (или)   его   близких
            родственников  за  границей  и  (или)  оформление указанными лицами
            документов  для  выезда   на   постоянное   жительство   в   другие
            государства;
            выявление в  результате   проверочных   мероприятий   действий
            оформляемого   лица,   создающих   угрозу  безопасности  Российской
            Федерации;
            уклонение его  от проверочных мероприятий и (или) сообщение им
            заведомо ложных анкетных данных.
            Решение об отказе должностному лицу или гражданину в допуске к
            государственной    тайне    принимается    руководителем     органа
            государственной власти,  предприятия,  учреждения или организации в
            индивидуальном   порядке   с   учетом    результатов    проверочных
            мероприятий.   Гражданин  имеет  право  обжаловать  это  решение  в
            вышестоящую организацию или в суд.

            Статья 23. Условия прекращения  допуска должностного лица или
            гражданина к государственной тайне

            Допуск должностного  лица  или  гражданина  к  государственной
            тайне  может  быть  прекращен  по   решению   руководителя   органа
            государственной власти,  предприятия,  учреждения или организации в
            случаях:
            расторжения с  ним  трудового  договора  (контракта) в связи с
            проведением организационных и (или) штатных мероприятий;
            однократного нарушения   им  взятых  на  себя  предусмотренных
            трудовым договором (контрактом) обязательств,  связанных с  защитой
            государственной тайны;
            возникновения обстоятельств,  являющихся  согласно  статье  22
            настоящего  Закона  основанием  для  отказа  должностному  лицу или
            гражданину в допуске к государственной тайне.
            Прекращение допуска   должностного   лица   или  гражданина  к
            государственной  тайне  является  дополнительным   основанием   для
            расторжения  с  ним  трудового  договора  (контракта),  если  такие
            условия предусмотрены в трудовом договоре (контракте).
            Прекращение допуска  к  государственной  тайне  не освобождает
            должностное лицо или  гражданина  от  взятых  ими  обязательств  по
            неразглашению сведений, составляющих государственную тайну.
            Решение администрации о прекращении допуска должностного  лица
            или  гражданина  к государственной тайне и расторжении на основании
            этого с ним трудового договора (контракта) может быть обжаловано  в
            вышестоящую организацию или в суд.

            Статья 24. Ограничения прав должностного лица или гражданина,
            допущенных  или ранее допускавшихся к
            государственной тайне

            Должностное лицо   или   гражданин,   допущенные   или   ранее
            допускавшиеся  к  государственной  тайне,   могут   быть   временно
            ограничены в своих правах. Ограничения могут касаться:
            права выезда  за  границу  на  срок,  оговоренный  в  трудовом
            договоре   (контракте)   при   оформлении   допуска   гражданина  к
            государственной тайне;
            права на      распространение      сведений,      составляющих
            государственную тайну,  и на использование открытий и  изобретений,
            содержащих такие сведения;
            права на  неприкосновенность  частной  жизни  при   проведении
            проверочных    мероприятий    в   период   оформления   допуска   к
            государственной тайне.

            Статья 25. Организация доступа должностного лица или
            гражданина к сведениям, составляющим
            государственную тайну

            Организация доступа  должностного  лица   или   гражданина   к
            сведениям,   составляющим  государственную  тайну,  возлагается  на
            руководителя  соответствующего   органа   государственной   власти,
            предприятия,  учреждения или организации, а также на их структурные
            подразделения по  защите  государственной  тайны.  Порядок  доступа
            должностного   лица   или   гражданина  к  сведениям,  составляющим
            государственную тайну,  устанавливается  нормативными  документами,
            утверждаемыми Правительством Российской Федерации.
            Руководители органов  государственной   власти,   предприятий,
            учреждений  и  организаций  несут  персональную  ответственность за
            создание таких условий,  при которых должностное лицо или гражданин
            знакомятся только с теми сведениями,  составляющими государственную
            тайну, и в таких объемах, которые необходимы ему для выполнения его
            должностных (функциональных) обязанностей.

            Статья 26.  Ответственность   за  нарушение  законодательства
            Российской Федерации о государственной тайне

            Должностные лица   и   граждане,    виновные    в    нарушении
            законодательства  Российской  Федерации  о  государственной  тайне,
            несут   уголовную,   административную,   гражданско-правовую    или
            дисциплинарную   ответственность   в   соответствии  с  действующим
            законодательством.
            Соответствующие органы государственной власти и их должностные
            лица  основываются  на  подготовленных  в   установленном   порядке
            экспертных заключениях   об  отнесении  незаконно  распространенных
            сведений к сведениям,  составляющим  государственную  тайну  (часть
            введена  Федеральным  законом  от  6  октября  1997  г.  N 131-ФЗ -
            Собрание законодательства Российской Федерации,  1997,  N  41,  ст.
            4673).
            Защита прав   и   законных    интересов    граждан,    органов
            государственной  власти,  предприятий,  учреждений  и организаций в
            сфере действия настоящего Закона осуществляется в судебном или ином
            порядке, предусмотренном настоящим Законом.

            Статья 27. Допуск  предприятий, учреждений и организаций к
            проведению работ, связанных с использованием
            сведений, составляющих государственную тайну

            Допуск предприятий,  учреждений  и  организаций  к  проведению
            работ,    связанных   с   использованием   сведений,   составляющих
            государственную тайну, созданием средств защиты информации, а также
            с  осуществлением  мероприятий  и  (или)  оказанием услуг по защите
            государственной  тайны,  осуществляется  путем  получения   ими   в
            порядке,   устанавливаемом   Правительством  Российской  Федерации,
            лицензий на проведение работ со сведениями соответствующей  степени
            секретности.
            Лицензия на проведение указанных работ выдается  на  основании
            результатов   специальной   экспертизы  предприятия,  учреждения  и
            организации  и   государственной   аттестации   их   руководителей,
            ответственных  за  защиту  сведений,  составляющих  государственную
            тайну, расходы по проведению которых относятся на счет предприятия,
            учреждения, организации, получающих лицензию.
            Лицензия на  проведение  работ  с   использованием   сведений,
            составляющих    государственную    тайну,   выдается   предприятию,
            учреждению, организации при выполнении ими следующих условий:
            выполнение требований   нормативных  документов,  утверждаемых
            Правительством  Российской   Федерации,   по   обеспечению   защиты
            сведений, составляющих государственную тайну, в процессе выполнения
            работ, связанных с использованием указанных сведений;
            наличие в их структуре подразделений по защите государственной
            тайны и специально подготовленных сотрудников для работы по  защите
            информации,  количество  и  уровень квалификации которых достаточны
            для обеспечения защиты государственной тайны;
            наличие у них сертифицированных средств защиты информации.

            Статья 28. Порядок сертификации средств защиты информации

            Средства защиты    информации    должны    иметь   сертификат,
            удостоверяющий  их  соответствие  требованиям  по  защите  сведений
            соответствующей степени секретности.
            Организация сертификации средств защиты информации возлагается
            на   федеральный  орган  исполнительной  власти,  уполномоченный  в
            области противодействия техническим разведкам и технической  защиты
            информации, федеральный орган исполнительной власти, уполномоченный
            в   области   обеспечения   безопасности,   и   федеральный   орган
            исполнительной  власти,  уполномоченный  в   области   обороны,   в
            соответствии  с  функциями,  возложенными  на них законодательством
            Российской Федерации.  Сертификация осуществляется в соответствии с
            настоящим   Законом   в   порядке,   установленном   Правительством
            Российской Федерации (в ред.  Федерального закона от 6 октября 1997
            г. N 131-ФЗ - Собрание законодательства Российской Федерации, 1997,
            N 41,  ст.  4673;  Федерального закона от 30 июня 2003 г. N 86-ФЗ -
            Собрание  законодательства Российской Федерации,  2003,  N 27,  ст.
            2700;  Федерального закона от 29 июня 2004 г.  N 58-ФЗ  -  Собрание
            законодательства  Российской  Федерации,  2004,  N  27,  ст.  2711;
            Федерального закона  от  19  июля  2011  г.  N  248-ФЗ  -  Собрание
            законодательства Российской Федерации, 2011, N 30, ст. 4596).
            Координация работ по организации сертификации  средств  защиты
            информации  возлагается  на  межведомственную  комиссию  по  защите
            государственной тайны.
        </div>
    </ion-content>
</ion-view>