<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="38" ios-CFBundleVersion="38" version="1.04" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Помошник Военнослужащего</name>
    <description />
    <author email="" href="">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="file:/*" />
    <access origin="content://*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="file:*" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="deployment-target" value="7.0" />
    <preference name="orientation" value="portrait" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="15000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="0.5" />
    <preference name="showmessageinnotification" value="true" />
    <preference name="defaultnotificationmessage" value="" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="CrosswalkAnimatable" value="true" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <feature name="Keyboard">
            <param name="android-package" value="io.ionic.keyboard.IonicKeyboard" />
        </feature>
        <feature name="SplashScreen">
            <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
            <param name="onload" value="true" />
        </feature>
        <feature name="GoogleAnalytics">
            <param name="android-package" value="com.cmackay.plugins.googleanalytics.GoogleAnalyticsPlugin" />
        </feature>
        <feature name="NativePageTransitions">
            <param name="android-package" value="com.telerik.plugins.nativepagetransitions.NativePageTransitions" />
            <param name="onload" value="true" />
        </feature>
        <icon src="resources/android/icon/icon.png" />
        <splash src="resources/android/splash/rus.jpg" />
    </platform>
    <icon src="resources/android/icon/icon.png" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="com.telerik.plugins.nativepagetransitions" spec="~0.6.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.0.0" />
    <plugin name="ionic-plugin-keyboard" spec="~2.0.1" />
</widget>
