<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('o_materialnoy_otvetstvennosti')"><img src="img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">Глава 1. Общие положения</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 1. Предмет регулирования и область действия
            настоящего Федерального закона

            1. Настоящий Федеральный закон устанавливает условия и размеры
            материальной ответственности военнослужащих и  граждан,  призванных
            на  военные сборы (далее - военнослужащие),  за ущерб,  причиненный
            ими  при  исполнении   обязанностей   военной   службы   имуществу,
            находящемуся   в   федеральной  собственности  и  закрепленному  за
            воинскими  частями,   а   также   определяет   порядок   возмещения
            причиненного ущерба.
            2. Действие настоящего Федерального закона распространяется на
            военнослужащих, проходящих военную службу по призыву и по контракту
            в Вооруженных Силах Российской Федерации, а также в других войсках,
            воинских  формированиях  и  органах,  в  которых  законодательством
            Российской Федерации предусмотрена военная служба.

            Статья 2. Основные понятия, применяемые в настоящем
            Федеральном законе

            Для целей настоящего Федерального закона применяются следующие
            основные понятия:
            воинские  части  -  органы  военного  управления, объединения,
            соединения,   воинские   части,   корабли,   организации,   военные
            профессиональные     образовательные    организации    и    военные
            образовательные   организации  высшего  образования,  в  которых  в
            соответствии     с     законодательством    Российской    Федерации
            военнослужащие проходят военную службу; (В   редакции  Федерального
            закона от 02.07.2013 г. N 185-ФЗ)
            командиры (начальники)  -  командиры   (начальники)   воинских
            частей,   их   заместители,   командиры   (начальники)  структурных
            подразделений воинских частей и их заместители;
            имущество воинской  части  (далее  -  имущество)  -  все  виды
            вооружения,   военной   техники,    боеприпасы,    горюче-смазочные
            материалы,  топливо,  продовольствие, вещевое имущество и иные виды
            военного имущества,  здания,  сооружения,  деньги и ценные  бумаги,
            другие материальные средства, являющиеся федеральной собственностью
            и закрепленные за воинской частью;
            реальный ущерб  (далее также - ущерб) - утрата или повреждение
            имущества воинской части, расходы, которые воинская часть произвела
            либо должна произвести для восстановления, приобретения утраченного
            или поврежденного имущества,  а также  излишние  денежные  выплаты,
            произведенные воинской частью.

            Статья 3. Условия материальной ответственности
            военнослужащих за причиненный ущерб

            1. Военнослужащие несут материальную ответственность только за
            причиненный по их вине реальный ущерб.
            2.   Военнослужащие,   причинившие  ущерб  не  при  исполнении
            обязанностей     военной    службы,    несут    гражданско-правовую
            ответственность  в  соответствии  с  гражданским  законодательством
            Российской Федерации. (В      редакции      Федерального     закона
            от 04.12.2006 г. N 203-ФЗ)
            3. Не  допускается  привлечение  военнослужащих к материальной
            ответственности за ущерб, причиненный вследствие исполнения приказа
            командира (начальника),  а также в результате правомерных действий,
            оправданного служебного риска, действия непреодолимой силы.
            4. Военнослужащие   могут   быть   привлечены  к  материальной
            ответственности в соответствии с настоящим  Федеральным  законом  в
            течение трех лет со дня обнаружения ущерба.

        </div>
    </ion-content>
</ion-view>