<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('o_materialnoy_otvetstvennosti')"><img src="img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">Глава 4. Заключительные положения</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>

    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 13. Приведение нормативных правовых актов в
            соответствие с настоящим Федеральным законом

            1. Президенту Российской Федерации и Правительству  Российской
            Федерации  привести свои нормативные правовые акты в соответствие с
            настоящим Федеральным законом.
            2. Считать  не  действующим на территории Российской Федерации
            Указ Президиума Верховного  Совета  СССР  от 13  января  1984  года
            N 10661-Х "О материальной  ответственности военнослужащих за ущерб,
            причиненный  государству"  (Ведомости Верховного Совета СССР, 1984,
            N 3, ст. 61).

            Статья 14. Вступление в силу настоящего Федерального закона

            Настоящий Федеральный   закон  вступает  в  силу  со  дня  его
            официального опубликования.


            Президент Российской Федерации                        Б.Ельцин

            Москва, Кремль
            12 июля 1999 года
            N 161-ФЗ


        </div>
    </ion-content>
</ion-view>