<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('o_materialnoy_otvetstvennosti')"><img src="img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">Глава 3. Определение размера причиненного ущерба и порядке его возмещения</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true">

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 6. Определение размера причиненного ущерба

            1. Размер  причиненного  ущерба  определяется  по  фактическим
            потерям,  на  основании  данных  учета  имущества  воинской части и
            исходя из цен, действующих в данной местности (для воинских частей,
            дислоцированных  за  пределами  Российской  Федерации,  -  в стране
            пребывания) на день обнаружения ущерба.
            Цены на   вооружение,  военную   технику,  боеприпасы,  другое
            имущество,   централизованно    поставляемые    воинским    частям,
            определяются уполномоченными на то государственными органами.
            2. Размер причиненного ущерба определяется  с  учетом  степени
            износа  имущества  по  установленным  на  день  обнаружения  ущерба
            нормам, но не ниже стоимости лома (утиля) этого имущества.
            3. При    незаконном    назначении    военнослужащего    (лица
            гражданского персонала) на  должность,  не  предусмотренную  штатом
            (штатным  расписанием)  воинской части,  размер ущерба определяется
            размером выплаченного военнослужащему (лицу гражданского персонала)
            денежного   довольствия  (выплаченной  заработной   платы),  а  при
            незаконном назначении на должность,  оплачиваемую  выше  должности,
            фактически    занимаемой    военнослужащим    (лицом   гражданского
            персонала),  - разницей  между  выплаченным  денежным  довольствием
            (выплаченной     заработной   платой)   и   денежным   довольствием
            (заработной платой) по фактически занимаемой должности.
            4.  Размер  ущерба,  причиненного  в  случае,  предусмотренном
            абзацем пятым статьи 5 настоящего Федерального закона, определяется
            фактическими  затратами  на  лечение военнослужащих, пострадавших в
            результате умышленных действий других военнослужащих, в медицинских
            организациях. (В         редакции        Федерального        закона
            от 25.11.2013 г. N 317-ФЗ)
            5. Размер возмещаемого ущерба, причиненного по вине нескольких
            военнослужащих,  определяется  для  каждого из них с учетом степени
            вины и вида материальной ответственности.
            6. При     привлечении    военнослужащего    к    материальной
            ответственности  размер  оклада  месячного   денежного   содержания
            военнослужащего   и   размер   месячной  надбавки  за  выслугу  лет
            определяются  на  день  издания  приказа   командира   (начальника)
            воинской части или принятия судом решения о возмещении ущерба.

            Статья 7. Проведение административного расследования
            при обнаружении ущерба

            1. Командир (начальник) воинской части при обнаружении  ущерба
            обязан  назначить  административное  расследование для установления
            причин  ущерба,  его  размера  и  виновных  лиц.   Административное
            расследование   должно  быть  закончено  в  месячный  срок  со  дня
            обнаружения ущерба.
            В необходимых случаях этот срок может быть продлен вышестоящим
            в порядке подчиненности командиром (начальником),  но не более  чем
            на один месяц.
            1-1. В случае, если причины ущерба, его размер и виновные лица
            могут  быть  установлены в ходе разбирательства по факту совершения
            военнослужащим  дисциплинарного проступка, вместо административного
            расследования   может   проводиться   указанное  разбирательство  в
            соответствии  с  Федеральным законом от 27 мая 1998 года N 76-ФЗ "О
            статусе военнослужащих". (Пункт   дополнен   -   Федеральный  закон
            от 04.12.2006 г. N 203-ФЗ)
            2.  Административное  расследование может не проводиться, если
            причины ущерба, его размер и виновные лица установлены судом либо в
            результате  ревизии,  проверки,  дознания  или  следствия,  в  ходе
            разбирательства  по факту совершения военнослужащим дисциплинарного
            проступка. (В          редакции         Федерального         закона
            от 04.12.2006 г. N 203-ФЗ)

            Статья 8. Возмещение ущерба военнослужащими

            1. Возмещение ущерба,  размер  которого  не  превышает  одного
            оклада  месячного  денежного  содержания  военнослужащего  и  одной
            месячной надбавки за выслугу лет, производится по приказу командира
            (начальника)   воинской   части   путем   удержаний   из  денежного
            довольствия военнослужащего, причинившего ущерб.
            Приказ о    возмещении    ущерба,    причиненного   командиром
            (начальником)  воинской  части,  издается  вышестоящим  в   порядке
            подчиненности командиром (начальником) воинской части.
            Вопрос о возмещении ущерба,  размер  которого  превышает  один
            оклад   месячного   денежного  содержания  военнослужащего  и  одну
            месячную надбавку за выслугу лет,  решается судом по иску командира
            (начальника) воинской части.  Иск о возмещении ущерба, причиненного
            командиром (начальником) воинской части,  предъявляется вышестоящим
            в порядке подчиненности командиром (начальником) воинской части.
            2.  Приказ  соответствующего  командира  (начальника) воинской
            части о возмещении ущерба должен быть издан в двухнедельный срок со
            дня   окончания   административного   расследования   или  принятия
            соответствующим  командиром  (начальником)  решения  по результатам
            рассмотрения материалов о дисциплинарном проступке либо поступления
            решения суда или материалов ревизии, проверки, дознания, следствия,
            объявлен  военнослужащему  под  роспись  и  обращен к исполнению по
            истечении семи дней после объявления его военнослужащему.        (В
            редакции Федерального закона от 04.12.2006 г. N 203-ФЗ)
            В случае,  если  приказ  о  возмещении  ущерба  не   издан   в
            двухнедельный   срок,   вопрос   о  привлечении  военнослужащего  к
            материальной    ответственности    решается    судом    по     иску
            соответствующего командира (начальника) воинской части.
            3. Военнослужащие,  проходящие  военную  службу  за  пределами
            Российской  Федерации,  возмещают причиненный ущерб в валюте страны
            пребывания.  В случае  невозможности  возмещения  ущерба  в  валюте
            страны  пребывания  (в том числе в случае убытия военнослужащего на
            территорию Российской  Федерации)  ущерб  возмещается  в  рублях  в
            пересчете по официальному курсу валюты,  установленному Центральным
            банком Российской Федерации на день обнаружения ущерба.
            4. Приказ  командира  (начальника) воинской части о возмещении
            ущерба мажет быть обжалован военнослужащим  вышестоящему  командиру
            (начальнику) и (или) в суд. Обжалование приказа о возмещении ущерба
            не  приостанавливает  удержаний  денежных  средств   из   денежного
            довольствия военнослужащего. При отмене приказа о возмещении ущерба
            удержанные денежные средства возвращаются военнослужащему.
            5. Возмещение  ущерба  производится  независимо от привлечения
            военнослужащего к дисциплинарной,  административной  или  уголовной
            ответственности за действия (бездействие), которыми причинен ущерб.
            6. Военнослужащий может  добровольно  полностью  или  частично
            возместить причиненный ущерб в денежной форме.
            7. Удержания  из  денежного  довольствия  военнослужащего   по
            решению    суда   производятся   на   основании   выданного   судом
            исполнительного листа.
            8. Разница  между  размером причиненного ущерба и определенным
            приказом командира (начальника) воинской части  или  решением  суда
            размером   удержаний   из   денежного  довольствия  военнослужащего
            относится за  счет  средств,  выделенных  из  федерального  бюджета
            соответствующему   федеральному  органу  исполнительной  власти,  в
            ведении  которого  находится  воинская  часть,  решением  командира
            (начальника) в пределах предоставленных ему прав.

            Статья 9. Возмещение ущерба в случае увольнения
            военнослужащего с военной службы или
            перевода его к новому месту службы

            1. В случае, когда привлеченный к материальной ответственности
            военнослужащий  (гражданин,  призванный  на   военные   сборы)   не
            возместил  ко  дню  увольнения  с военной службы (окончания сборов)
            причиненный ущерб,  оставшаяся за ним задолженность взыскивается по
            правилам      исполнительного      производства,      установленным
            законодательством Российской Федерации.
            2. В    случае,   когда   причинивший   ущерб   военнослужащий
            (гражданин,  призванный на военные сборы) уволен с  военной  службы
            (убыл  с  военных  сборов  ввиду их окончания) и не был привлечен к
            материальной ответственности,  взыскание с него ущерба производится
            судом  по  иску,  предъявленному  командиром (начальником) воинской
            части,  в размере, установленном настоящим Федеральным законом. При
            этом размер оклада месячного денежного содержания и размер месячной
            надбавки  за  выслугу   лет   определяются   на   день   увольнения
            военнослужащего   (гражданина,  призванного  на  военные  сборы)  с
            военной службы (окончания сборов).
            3. В  случае  перевода к новому месту службы возмещение ущерба
            военнослужащим,  привлеченным к материальной ответственности  и  не
            возместившим причиненный ущерб, производится по новому месту службы
            на основании записи  в  расчетной  книжке  или  денежном  аттестате
            военнослужащего.
            Если решение о привлечении причинившего ущерб  военнослужащего
            к  материальной  ответственности  не было принято до его перевода к
            новому месту службы,  командир (начальник)  воинской  части  обязан
            направить  в  пятидневный  срок  со дня окончания административного
            расследования,  ревизии, проверки, дознания, поступления материалов
            следствия  или  решения  суда  необходимые материалы к новому месту
            службы  военнослужащего  для   привлечения   его   к   материальной
            ответственности.
            Возмещение ущерба в этом случае производится по  новому  месту
            службы   военнослужащего   в  порядке,  предусмотренном  статьей  8
            настоящего  Федерального  закона.  Приказ  командира   (начальника)
            воинской части о возмещении ущерба издается в двухнедельный срок со
            дня поступления с прежнего места службы военнослужащего материалов,
            указанных в настоящем пункте.

            Статья 10. Возмещение ущерба, причиненного военнослужащими
            третьим лицам

            Военнослужащие, причинившие ущерб  третьим  лицам,  который  в
            соответствии  с законодательством Российской Федерации был возмещен
            воинской частью,  возмещают  воинской  части  причиненный  ущерб  в
            порядке и размерах, предусмотренных настоящим Федеральным законом.

            Статья 11. Условия уменьшения размера ущерба,
            подлежащего возмещению

            Размер денежных    средств,     подлежащих     взысканию     с
            военнослужащего  для  возмещения  причиненного  ущерба,  может быть
            снижен  командиром  (начальником)  воинской  части   с   разрешения
            вышестоящего   командира  (начальника),  а  также  судом  с  учетом
            конкретных обстоятельств,  степени вины и  материального  положения
            военнослужащего,  за  исключением случаев,  предусмотренных абзацем
            четвертым статьи 5 настоящего Федерального закона.

            Статья 12. Порядок производства денежных удержаний

            1. Ежемесячные денежные удержания для возмещения  причиненного
            военнослужащим ущерба производятся в размере 20 процентов месячного
            денежного довольствия,  а для  возмещения  ущерба,  причиненного  в
            случаях,  предусмотренных  абзацем  четвертым  статьи  5 настоящего
            Федерального закона,  - в размере 50 процентов месячного  денежного
            довольствия военнослужащего.
            2. Если из денежного довольствия военнослужащего  производятся
            другие   денежные   удержания,   предусмотренные  законодательством
            Российской Федерации,  то общий размер всех денежных  удержаний  не
            может   превышать  50  процентов  месячного  денежного  довольствия
            военнослужащего.   При   этом   очередность   указанных   удержаний
            определяется законодательством Российской Федерации.


        </div>
    </ion-content>
</ion-view>