<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('o_materialnoy_otvetstvennosti')"><img src="img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">Глава 2. Материальная ответственность военнослужащих</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 4. Ограниченная материальная ответственность
            военнослужащих

            1. За ущерб,  причиненный  по  неосторожности  при  исполнении
            обязанностей  военной  службы,  военнослужащие,  проходящие военную
            службу по контракту, и граждане, призванные на военные сборы, несут
            материальную ответственность в размере причиненного ими ущерба,  но
            не более одного  оклада  месячного  денежного  содержания  и  одной
            месячной   надбавки  за  выслугу  лет;  военнослужащие,  проходящие
            военную службу по  призыву,  -  не  более  двух  окладов  месячного
            денежного  содержания,  за  исключением  случаев,  когда  настоящим
            Федеральным  законом  и  другими  нормативными   правовыми   актами
            Российской  Федерации  для  военнослужащих установлены иные размеры
            материальной ответственности.
            2. Военнослужащие,  проходящие  военную  службу  по контракту,
            виновные в причинении ущерба,  связанного с уплатой воинской частью
            штрафов  за  простои  контейнеров,  вагонов,  судов  и автомобилей,
            завышение объемов выполненных  работ,  несвоевременное  внесение  в
            соответствующие  бюджеты  налогов  и  других обязательных платежей,
            несут материальную ответственность в размере  причиненного  ущерба,
            но  не  более  двух  окладов  месячного денежного содержания и двух
            месячных надбавок за выслугу лет.
            3. Командиры   (начальники),   нарушившие   своими   приказами
            (распоряжениями)    установленный    порядок    учета,    хранения,
            использования,  расходования,  перевозки имущества или не принявшие
            необходимых  мер  к  предотвращению   его   хищения,   уничтожения,
            повреждения,   порчи,   излишних   денежных  выплат,  что  повлекло
            причинение ущерба,  либо не принявшие необходимых мер к  возмещению
            виновными   лицами   причиненного   воинской  части  ущерба,  несут
            материальную ответственность в размере причиненного ущерба,  но  не
            более одного оклада месячного денежного содержания и одной месячной
            надбавки за выслугу лет.
            4. Командиры   (начальники)   воинских   частей,   виновные  в
            незаконном увольнении военнослужащего (лица гражданского персонала)
            с  военной  службы (работы),  незаконном переводе лица гражданского
            персонала на другую работу,  незаконном назначении  военнослужащего
            (лица  гражданского  персонала)  на  должность,  не предусмотренную
            штатом (штатным расписанием) воинской  части,  либо  на  должность,
            оплачиваемую    выше   фактически   занимаемой   должности,   несут
            материальную  ответственность  за  ущерб,   причиненный   излишними
            денежными   выплатами,  произведенными   в  результате  незаконного
            увольнения   военнослужащего   (лица    гражданского    персонала),
            незаконного  перевода лица гражданского персонала на другую работу,
            незаконного   назначения   военнослужащего    (лица    гражданского
            персонала) на должность, в размере причиненного ущерба, но не более
            трех  окладов  месячного  денежного  содержания  и  трех   месячных
            надбавок за выслугу лет.

            Статья 5. Полная материальная ответственность
            военнослужащих

            Военнослужащие несут  материальную  ответственность  в  полном
            размере ущерба в случаях, когда ущерб причинен:
            военнослужащим, которому имущество было передано под отчет для
            хранения, перевозки, выдачи, пользования и других целей;
            действиями (бездействием)     военнослужащего,     содержащими
            признаки    состава    преступления,   предусмотренного   уголовным
            законодательством Российской Федерации;
            в результате  хищения,  умышленных  уничтожения,  повреждения,
            порчи,  незаконных расходования или  использования  имущества  либо
            иных умышленных действий (бездействия) независимо от того, содержат
            ли они признаки состава  преступления,  предусмотренного  уголовным
            законодательством Российской Федерации;
            умышленными  действиями  военнослужащих, повлекшими затраты на
            лечение  в  медицинских организациях военнослужащих, пострадавших в
            результате этих действий; (В     редакции    Федерального    закона
            от 25.11.2013 г. N 317-ФЗ)
            военнослужащим, добровольно   приведшим   себя   в   состояние
            опьянения. (В          редакции         Федерального         закона
            от 04.12.2006 г. N 203-ФЗ)


        </div>
    </ion-content>
</ion-view>