<ion-nav-bar class="bar-positive" nav-bar="active">
    <ion-nav-buttons side="left">
        <span style="z-index: 100" ng-click="$state.go('federlzakon')"><img src="../img/back_arrow.png" style="    width: 30px;"></span>
        <div class="title title-center header-item">О воинской обязанности и военной службе</div>
</ion-nav-bar>

<ion-content class="BG fadein" scroll="true" has-bouncing="false">
    <div class="list list-inset" style="margin-top: 100px"  >

        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section1')">
            Раздел 1
        </div>
        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section2')">
            Раздел 2
        </div>
        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section3')">
            Раздел 3
        </div>
        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section4')">
            Раздел 4
        </div>
        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section5')">
            Раздел 5
        </div>
        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section6')">
            Раздел 6
        </div>
        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section7')">
            Раздел 7
        </div>
        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section8')">
            Раздел 8
        </div>
        <div class="item" ng-click="$state.go('o_voinskoi_obyzonnosti_section9')">
            Раздел 9
        </div>
    </div>
</ion-content>