<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <h1 class="title"> Раздел 4. Призыв граждан на военную службу</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 22. Граждане, подлежащие призыву на военную службу

            Информация об изменениях:
            Федеральным законом от 6 июля 2006 г. N 104-ФЗ в пункт 1 статьи 22 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2008 г.
            См. текст пункта в предыдущей редакции
            1. Призыву на военную службу подлежат:
            Информация об изменениях:
            Федеральным законом от 3 декабря 2008 г. N 248-ФЗ в подпункт "а" пункта 1 статьи 22 настоящего Федерального закона внесены изменения
            См. текст подпункта в предыдущей редакции
            а) граждане мужского пола в возрасте от 18 до 27 лет, состоящие на воинском учете или не состоящие, но обязанные состоять на воинском учете и не пребывающие в запасе (далее - граждане, не пребывающие в запасе);
            б) утратил силу с 1 января 2008 г.
            Информация об изменениях:
            См. текст подпункта "б" пункт 1 статьи 22
            2. На военную службу не призываются граждане, которые в соответствии с настоящим Федеральным законом освобождены от исполнения воинской обязанности, призыва на военную службу, граждане, которым предоставлена отсрочка от призыва на военную службу, а также граждане, не подлежащие призыву на военную службу.
            3. Призыв граждан на военную службу осуществляется на основании указов Президента Российской Федерации.
            4. Решение о призыве граждан на военную службу может быть принято только после достижения ими возраста 18 лет.
            5. Утратил силу с 1 января 2010 г.
            Информация об изменениях:
            См. текст пункта 5 статьи 22
            ГАРАНТ:
            См. комментарии к статье 22 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 170-ФЗ наименование статьи 23 настоящего Федерального закона изложено в новой редакции, вступающей в силу с 1 января 2014 г.
            См. текст наименования в предыдущей редакции
            Статья 23. Освобождение от призыва на военную службу. Граждане, не подлежащие призыву на военную службу. Освобождение от исполнения воинской обязанности

            1. От призыва на военную службу освобождаются граждане:
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 170-ФЗ в подпункт "а" пункта 1 статьи 23 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2014 г.
            См. текст подпункта в предыдущей редакции
            а) признанные ограниченно годными к военной службе по состоянию здоровья;
            б) проходящие или прошедшие военную службу в Российской Федерации;
            в) проходящие или прошедшие альтернативную гражданскую службу;
            Информация об изменениях:
            Федеральным законом от 7 июня 2013 г. N 111-ФЗ подпункт "г" пункта 1 статьи 23 настоящего Федерального закона изложен в новой редакции, вступающей в силу с 1 августа 2013 г.
            См. текст подпункта в предыдущей редакции
            г) прошедшие военную службу в другом государстве в случаях, предусмотренных международными договорами Российской Федерации;
            ГАРАНТ:
            Об освобождении от исполнения воинской обязанности лиц проходивших военную службу или освобожденных от призыва на срочную военную службу в мирное время в соответствии с законодательством, действовавшим на территории страны их предыдущей гражданской принадлежности, в связи с принятием в РФ Республики Крым и образованием в составе РФ новых субъектов - Республики Крым и города федерального значения Севастополя см. Федеральный закон от 30 марта 2015 г. N 58-ФЗ
            Информация об изменениях:
            Федеральным законом от 6 июля 2006 г. N 104-ФЗ в пункт 2 статьи 23 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2008 г.
            См. текст пункта в предыдущей редакции
            ГАРАНТ:
            Согласно статье 5 Федерального закона от 6 июля 2006 г. N 104-ФЗ, вступающей в силу с 1 января 2008 г., граждане, которые были освобождены от призыва на военную службу или которым была предоставлена отсрочка от призыва на военную службу в соответствии с настоящей статьей до 1 января 2008 года, пользуются указанными освобождениями и отсрочками до истечения срока их действия или до исчезновения их оснований
            2. Право на освобождение от призыва на военную службу имеют граждане:
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ в подпункт "а" пункта 2 статьи 23 настоящего Федерального закона внесены изменения, вступающие в силу с 1 сентября 2013 г.
            См. текст подпункта в предыдущей редакции
            а) имеющие предусмотренную государственной системой научной аттестации ученую степень;
            б) являющиеся сыновьями (родными братьями):
            военнослужащих, проходивших военную службу по призыву, погибших (умерших) в связи с исполнением ими обязанностей военной службы, и граждан, проходивших военные сборы, погибших (умерших) в связи с исполнением ими обязанностей военной службы в период прохождения военных сборов;
            граждан, умерших вследствие увечья (ранения, травмы, контузии) либо заболевания, полученных в связи с исполнением ими обязанностей военной службы в период прохождения военной службы по призыву, после увольнения с военной службы либо после отчисления с военных сборов или окончания военных сборов.
            3. Не подлежат призыву на военную службу граждане:
            а) отбывающие наказание в виде обязательных работ, исправительных работ, ограничения свободы, ареста или лишения свободы;
            б) имеющие неснятую или непогашенную судимость за совершение преступления;
            в) в отношении которых ведется дознание либо предварительное следствие или уголовное дело в отношении которых передано в суд.
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 170-ФЗ статья 23 настоящего Федерального закона дополнена пунктом 4, вступающим в силу с 1 января 2014 г.
            4. Граждане, признанные не годными к военной службе по состоянию здоровья, освобождаются от исполнения воинской обязанности.
            ГАРАНТ:
            См. комментарии к статье 23 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 6 июля 2006 г. N 104-ФЗ (в редакции Федерального закона от 24 октября 2007 г. N 232-ФЗ) в статью 24 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2008 г.
            См. текст статьи в предыдущей редакции
            ГАРАНТ:
            Согласно Федеральному закону от 6 июля 2006 г. N 104-ФЗ, граждане, которые были освобождены от призыва на военную службу или которым была предоставлена отсрочка от призыва на военную службу в соответствии с настоящей статьей до 1 января 2008 года, пользуются указанными освобождениями и отсрочками до истечения срока их действия или до исчезновения их оснований
            Статья 24. Отсрочка от призыва граждан на военную службу

            ГАРАНТ:
            Об особенностях предоставления отсрочки от призыва на военную службу граждан РФ в связи с принятием в РФ Республики Крым и образованием в составе РФ новых субъектов - Республики Крым и города федерального значения Севастополя см. Федеральный закон от 30 марта 2015 г. N 58-ФЗ
            О предоставлении отсрочки от призыва на военную службу см. справку
            1. Отсрочка от призыва на военную службу предоставляется гражданам:
            а) признанным в установленном настоящим Федеральным законом порядке временно не годными к военной службе по состоянию здоровья, - на срок до одного года;
            б) занятым постоянным уходом за отцом, матерью, женой, родным братом, родной сестрой, дедушкой, бабушкой или усыновителем, если отсутствуют другие лица, обязанные по закону содержать указанных граждан, а также при условии, что последние не находятся на полном государственном обеспечении и нуждаются по состоянию здоровья в соответствии с заключением федерального учреждения медико-социальной экспертизы по месту жительства граждан, призываемых на военную службу, в постоянном постороннем уходе (помощи, надзоре);
            б.1) являющимся опекуном или попечителем несовершеннолетнего родного брата или несовершеннолетней родной сестры при отсутствии других лиц, обязанных по закону содержать указанных граждан;
            Информация об изменениях:
            Федеральным законом от 30 декабря 2012 г. N 288-ФЗ в подпункт "в" пункта 1 статьи 24 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2013 г.
            См. текст подпункта в предыдущей редакции
            в) имеющим ребенка и воспитывающим его без матери ребенка;
            г) имеющим двух и более детей;
            д) имеющим ребенка-инвалида в возрасте до трех лет;
            е) утратил силу с 1 января 2008 г.;
            Информация об изменениях:
            См. текст подпункта "е" пункта 1 статьи 24
            ж) утратил силу с 1 января 2008 г.;
            Информация об изменениях:
            См. текст подпункта "ж" пункта 1 статьи 24

            Информация об изменениях:
            Федеральным законом от 3 июля 2016 г. N 305-ФЗ в подпункт "з" пункта 1 статьи 24 настоящего Федерального внесены изменения
            См. текст подпункта в предыдущей редакции
            ГАРАНТ:
            Граждане, которым была предоставлена отсрочка от призыва на военную службу в соответствии с подпунктом "з" пункта 1 статьи 24 настоящего Федерального закона до 1 января 2010 года, пользуются указанной отсрочкой до истечения срока ее действия или до исчезновения ее оснований
            з) поступившим на службу в органы внутренних дел, Государственную противопожарную службу, учреждения и органы уголовно-исполнительной системы и таможенные органы Российской Федерации непосредственно по окончании образовательных организаций высшего образования указанных органов и учреждений соответственно, при наличии у них высшего образования и специальных званий - на время службы в указанных органах и учреждениях;
            Информация об изменениях:
            Федеральным законом от 3 июля 2016 г. N 227-ФЗ пункт 1 статьи 24 настоящего Федерального закона дополнен подпунктом "з.1"
            з.1) поступившим в войска национальной гвардии Российской Федерации непосредственно по окончании образовательных организаций высшего образования при наличии у них высшего образования и специальных званий - на время службы в указанных войсках;
            и) имеющим ребенка и жену, срок беременности которой составляет не менее 26 недель;
            к) избранным депутатами Государственной Думы Федерального Собрания Российской Федерации, депутатами законодательных (представительных) органов государственной власти субъектов Российской Федерации, депутатами представительных органов муниципальных образований или главами муниципальных образований и осуществляющим свои полномочия на постоянной основе, - на срок полномочий в указанных органах;
            л) зарегистрированным в соответствии с законодательством Российской Федерации о выборах в качестве кандидатов на замещаемые посредством прямых выборов должности или на членство в органах (палатах органов) государственной власти или органах местного самоуправления, - на срок до дня официального опубликования (обнародования) общих результатов выборов включительно, а при досрочном выбытии - до дня выбытия включительно.
            2. Право на отсрочку от призыва на военную службу имеют граждане:
            Информация об изменениях:
            Федеральным законом от 14 октября 2014 г. N 302-ФЗ в подпункт "а" пункта 2 статьи 24 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2017 г.
            См. текст подпункта в предыдущей редакции
            ГАРАНТ:
            С 1 января 2017 г. граждане, обучающиеся в образовательных организациях по имеющим государственную аккредитацию образовательным программам среднего профессионального образования, которым в соответствии с абзацем третьим или четвертым подпункта "а" пункта 2 статьи 24 настоящего Федерального закона (в редакции, действовавшей до 1 января 2017 г.) была предоставлена отсрочка от призыва на военную службу, пользуются указанной отсрочкой в течение всего периода освоения указанных образовательных программ, но не свыше сроков получения среднего профессионального образования, установленных федеральными государственными образовательными стандартами
            а) обучающиеся по очной форме обучения в:
            организациях, осуществляющих образовательную деятельность по имеющим государственную аккредитацию образовательным программам среднего общего образования, - в период освоения указанных образовательных программ, но не свыше сроков получения среднего общего образования, установленных федеральными государственными образовательными стандартами;
            образовательных организациях по имеющим государственную аккредитацию образовательным программам среднего профессионального образования, - в период освоения указанных образовательных программ, но не свыше сроков получения среднего профессионального образования, установленных федеральными государственными образовательными стандартами;
            абзац четвертый утратил силу с 1 января 2017 г.;
            Информация об изменениях:
            См. текст абзаца четвертого подпункта "а" пункта 2 статьи 24
            федеральных государственных образовательных организациях высшего образования, перечень которых установлен в соответствии с частью 8 статьи 71 Федерального закона от 29 декабря 2012 года N 273-ФЗ "Об образовании в Российской Федерации", - на период обучения на подготовительных отделениях этих образовательных организаций за счет бюджетных ассигнований федерального бюджета, но не свыше одного года, и в случае принятия указанных обучающихся на обучение на подготовительные отделения этих образовательных организаций в год получения среднего общего образования;
            образовательных организациях и научных организациях по имеющим государственную аккредитацию:
            программам бакалавриата, если указанные обучающиеся не имеют диплома бакалавра, диплома специалиста или диплома магистра, - в период освоения указанных образовательных программ, но не свыше установленных федеральными государственными образовательными стандартами, образовательными стандартами сроков получения высшего образования по программам бакалавриата;
            программам специалитета, если указанные обучающиеся не имеют диплома бакалавра, диплома специалиста или диплома магистра, - в период освоения указанных образовательных программ, но не свыше установленных федеральными государственными образовательными стандартами, образовательными стандартами сроков получения высшего образования по программам специалитета;
            программам магистратуры, если указанные обучающиеся не имеют диплома специалиста или диплома магистра и поступили на обучение по программам магистратуры в год получения высшего образования по программам бакалавриата, - в период освоения указанных образовательных программ, но не свыше установленных федеральными государственными образовательными стандартами, образовательными стандартами сроков получения высшего образования по программам магистратуры.
            Предусмотренная настоящим подпунктом отсрочка от призыва на военную службу предоставляется гражданину только один раз, за исключением одного из случаев, если:
            первая отсрочка от призыва на военную службу была предоставлена гражданину в соответствии с абзацем вторым настоящего подпункта, гражданин повторно может воспользоваться правом на отсрочку от призыва на военную службу в соответствии с абзацем пятым настоящего подпункта;
            первая отсрочка от призыва на военную службу была предоставлена гражданину в соответствии с абзацами вторым и (или) пятым настоящего подпункта, гражданин повторно может воспользоваться правом на отсрочку от призыва на военную службу в соответствии с абзацем седьмым или восьмым настоящего подпункта;
            первая отсрочка от призыва на военную службу была предоставлена гражданину в соответствии с абзацем седьмым настоящего подпункта, гражданин повторно может воспользоваться правом на отсрочку от призыва на военную службу в соответствии с абзацем девятым настоящего подпункта.
            Право на предусмотренную настоящим подпунктом отсрочку от призыва на военную службу сохраняется за гражданином:
            получившим во время освоения образовательной программы академический отпуск или перешедшим в той же образовательной организации с одной образовательной программы на другую имеющую государственную аккредитацию образовательную программу того же уровня образования либо переведенным в другую образовательную организацию для освоения имеющей государственную аккредитацию образовательной программы того же уровня образования. Право на отсрочку от призыва на военную службу сохраняется за гражданином по основаниям, предусмотренным настоящим абзацем, только при условии, если общий срок, на который гражданину была предоставлена отсрочка от призыва на военную службу для обучения в данной образовательной организации или в образовательной организации, из которой осуществлен перевод, не увеличивается или увеличивается не более чем на один год;
            восстановившимся в той же образовательной организации (за исключением граждан, восстановившихся в образовательных организациях после отчисления по инициативе образовательной организации), если срок, на который гражданину была предоставлена отсрочка от призыва на военную службу для обучения в данной образовательной организации, не увеличивается;
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ подпункт "б" пункта 2 статьи 24 настоящего Федерального закона изложен в новой редакции, вступающей в силу с 1 сентября 2013 г.
            См. текст подпункта в предыдущей редакции
            ГАРАНТ:
            Согласно Федеральному закону от 1 декабря 2011 г. N 376-ФЗ граждане, которым была предоставлена отсрочка от призыва на военную службу в соответствии с подпунктом "б" пункта 2 статьи 24 настоящего Федерального закона до дня вступления в силу названного Федерального закона, пользуются указанной отсрочкой до истечения срока ее действия или до исчезновения ее основания
            б) обучающиеся по очной форме обучения в образовательных организациях и научных организациях по имеющим государственную аккредитацию программам подготовки научно-педагогических кадров в аспирантуре (адъюнктуре), программам ординатуры или программам ассистентуры-стажировки, - в период освоения указанных образовательных программ, но не свыше установленных федеральными государственными образовательными стандартами сроков получения высшего образования - подготовки кадров высшей квалификации, и на время защиты квалификационной работы (диссертации), но не более одного года после завершения обучения по соответствующей образовательной программе высшего образования;
            в) которым это право дано на основании указов Президента Российской Федерации;
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ подпункт "г" пункта 2 статьи 24 настоящего Федерального закона изложен в новой редакции, вступающей в силу с 1 сентября 2013 г.
            См. текст подпункта в предыдущей редакции
            г) успешно прошедшие государственную итоговую аттестацию по образовательной программе среднего общего образования, - на период до 1 октября года прохождения указанной аттестации;
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ пункта 2 статьи 24 настоящего Федерального закона дополнен подпунктом "д", вступающим в силу с 1 сентября 2013 г.
            д) получающие по очной форме обучения среднее профессиональное образование или высшее образование по образовательным программам, направленным на подготовку служителей и религиозного персонала религиозных организаций в духовных образовательных организациях, имеющих лицензию на осуществление образовательной деятельности, - в период обучения, но не свыше сроков получения соответствующего образования;
            Информация об изменениях:
            Федеральным законом от 30 марта 2015 г. N 58-ФЗ пункт 2 статьи 24 настоящего Федерального закона дополнен подпунктом "е", вступающим в силу с 1 апреля 2015 г.
            е) из числа лиц:
            покинувших место жительства на территории иностранного государства и прибывших на территорию Российской Федерации, обратившихся с ходатайством о признании вынужденным переселенцем, - на срок со дня регистрации указанного ходатайства до дня его рассмотрения, а в случае признания вынужденным переселенцем, - на срок до трех месяцев со дня признания вынужденным переселенцем;
            до приобретения гражданства Российской Федерации признанных в Российской Федерации беженцами, - на срок до шести месяцев со дня приобретения гражданства Российской Федерации.
            Информация об изменениях:
            Федеральным законом от 30 марта 2015 г. N 58-ФЗ статья 24 настоящего Федерального закона дополнена пунктом 2.1, вступающим в силу с 1 апреля 2015 г.
            2.1. Право на предусмотренную подпунктом "е" пункта 2 настоящей статьи отсрочку от призыва на военную службу предоставляется гражданину только один раз и при условии, если ходатайство о признании лица вынужденным переселенцем зарегистрировано или статус беженца приобретен после достижения им возраста семнадцати лет и шести месяцев.
            3. Утратил силу с 1 января 2008 г.
            Информация об изменениях:
            См. текст пункта 3 статьи 24
            ГАРАНТ:
            См. комментарии к статье 24 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 6 июля 2006 г. N 104-ФЗ в статью 25 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2008 г.
            См. текст статьи в предыдущей редакции
            Статья 25. Сроки призыва граждан на военную службу

            1. Призыв на военную службу граждан, не пребывающих в запасе, осуществляется два раза в год с 1 апреля по 15 июля и с 1 октября по 31 декабря на основании указов Президента Российской Федерации за следующими исключениями:
            а) граждане, проживающие в отдельных районах Крайнего Севера или отдельных местностях, приравненных к районам Крайнего Севера, призываются на военную службу с 1 мая по 15 июля или с 1 ноября по 31 декабря. Перечень указанных районов и местностей, а также сроки призыва на военную службу граждан, проживающих в этих районах и местностях, определяются Генеральным штабом Вооруженных Сил Российской Федерации;
            б) граждане, проживающие в сельской местности и непосредственно занятые на посевных и уборочных работах, призываются на военную службу с 15 октября по 31 декабря;
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ в подпункт "в" пункта 1 статьи 25 настоящего Федерального закона внесены изменения, вступающие в силу с 1 сентября 2013 г.
            См. текст подпункта в предыдущей редакции
            в) граждане, являющиеся педагогическими работниками образовательных организаций, призываются на военную службу с 1 мая по 15 июля.
            2. Утратил силу с 1 января 2008 г.
            Информация об изменениях:
            См. текст пункта 2 статьи 25
            ГАРАНТ:
            См. комментарии к статье 25 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 22 августа 2004 г. N 122-ФЗ в статью 26 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2005 г.
            См. текст статьи в предыдущей редакции
            Статья 26. Организация призыва граждан на военную службу

            Информация об изменениях:
            Федеральным законом от 9 марта 2010 г. N 27-ФЗ в пункт 1 статьи 26 настоящего Федерального закона внесены изменения, вступающие в силу с 1 апреля 2010 г.
            См. текст пункта в предыдущей редакции
            1. Призыв на военную службу граждан, не пребывающих в запасе, включает:
            явку на медицинское освидетельствование и заседание призывной комиссии;
            явку в указанные в повестке военного комиссариата время и место для отправки к месту прохождения военной службы и нахождение в военном комиссариате до начала военной службы.
            Призыв на военную службу указанных граждан организуют военные комиссариаты через свои структурные подразделения и осуществляют призывные комиссии, создаваемые в муниципальных районах, городских округах и на внутригородских территориях городов федерального значения решением высшего должностного лица субъекта Российской Федерации (руководителя высшего исполнительного органа государственной власти субъекта Российской Федерации) по представлению военного комиссара.
            2. Утратил силу с 1 января 2008 г.
            Информация об изменениях:
            См. текст пункта 2 статьи 26
            3. На мероприятия, связанные с призывом на военную службу, граждане вызываются повестками военного комиссариата.
            4. Порядок призыва граждан на военную службу определяется настоящим Федеральным законом, другими федеральными законами, указами Президента Российской Федерации, Положением о призыве на военную службу, утверждаемым Правительством Российской Федерации и другими нормативными правовыми актами Российской Федерации.
            ГАРАНТ:
            См. Инструкцию по подготовке и проведению мероприятий, связанных с призывом на военную службу граждан РФ, не пребывающих в запасе, утвержденную приказом Минобороны РФ от 2 октября 2007 г. N 400
            ГАРАНТ:
            См. комментарии к статье 26 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 22 августа 2004 г. N 122-ФЗ в статью 27 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2005 г.
            См. текст статьи в предыдущей редакции
            Статья 27. Состав призывной комиссии

            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ в пункт 1 статьи 27 настоящего Федерального закона внесены изменения, вступающие в силу с 1 сентября 2013 г.
            См. текст пункта в предыдущей редакции
            1. В состав призывной комиссии включаются:
            по согласованию глава местной администрации или иной представитель местной администрации - председатель призывной комиссии;
            должностное лицо военного комиссариата - заместитель председателя комиссии;
            секретарь комиссии;
            врач, руководящий работой по медицинскому освидетельствованию граждан, подлежащих призыву на военную службу;
            представитель соответствующего органа внутренних дел;
            представитель соответствующего органа, осуществляющего управление в сфере образования;
            представитель соответствующего органа службы занятости населения (в части вопросов, касающихся альтернативной гражданской службы).
            2. В состав призывной комиссии могут включаться представители других органов и организаций.
            ГАРАНТ:
            См. комментарии к статье 27 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 9 марта 2010 г. N 27-ФЗ в наименование статьи 28 настоящего Федерального закона внесены изменения, вступающие в силу с 1 апреля 2010 г.
            См. текст наименования в предыдущей редакции
            Статья 28. Обязанности призывной комиссии по призыву граждан на военную службу и порядок работы призывной комиссии

            1. При призыве на военную службу граждан, не пребывающих в запасе, на призывную комиссию возлагаются обязанности по организации медицинского освидетельствования указанных граждан и принятию в отношении их одного из следующих решений:
            о призыве на военную службу;
            о направлении на альтернативную гражданскую службу;
            о предоставлении отсрочки от призыва на военную службу;
            об освобождении от призыва на военную службу;
            о зачислении в запас;
            об освобождении от исполнения воинской обязанности.
            Абзац восьмой утратил силу с 1 января 2008 г.
            Информация об изменениях:
            См. текст абзаца восьмого пункта 1 статьи 28

            Информация об изменениях:
            Федеральным законом от 1 декабря 2014 г. N 414-ФЗ в пункт 1.1 статьи 28 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            1.1. При зачислении в запас граждан, подлежавших призыву на военную службу и не прошедших ее до достижения ими возраста 27 лет (за исключением граждан, не прошедших военную службу по призыву по основаниям, предусмотренным пунктами 1 и 2, пунктом 4 статьи 23, статьей 24 настоящего Федерального закона, либо в связи с отменой призывной комиссией субъекта Российской Федерации решения нижестоящей призывной комиссии), призывная комиссия выносит заключение о том, что гражданин не прошел военную службу по призыву, не имея на то законных оснований.
            Порядок и условия признания гражданина не прошедшим военную службу по призыву, не имея на то законных оснований, определяются Положением о призыве на военную службу.
            Информация об изменениях:
            Федеральный закон от 28 декабря 2010 г. N 404-ФЗ в пункт 2 статьи 28 настоящего Федерального закона внесены изменения, вступающие в силу с 15 января 2011 г.
            См. текст пункта в предыдущей редакции
            2. В случае уклонения граждан от призыва на военную службу призывная комиссия или военный комиссариат направляют соответствующие материалы руководителю следственного органа Следственного комитета Российской Федерации по месту жительства указанных граждан для решения вопроса о привлечении их к ответственности в соответствии с законодательством Российской Федерации.
            3. При принятии решения о призыве на военную службу граждан, не пребывающих в запасе, призывная комиссия определяет вид и род войск Вооруженных Сил Российской Федерации, другие войска, воинские формирования и органы, в которых указанные граждане будут проходить военную службу.
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ в пункт 4 статьи 28 настоящего Федерального закона внесены изменения, вступающие в силу с 1 сентября 2013 г.
            См. текст пункта в предыдущей редакции
            4. На призывную комиссию возлагаются также обязанности по организации медицинского освидетельствования граждан, изъявивших желание поступить в военные профессиональные образовательные организации и военные образовательные организации высшего образования, и принятию решения о направлении их для прохождения вступительных испытаний или об отказе в таком направлении.
            Информация об изменениях:
            Федеральным законом от 1 декабря 2014 г. N 414-ФЗ в пункт 5 статьи 28 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            5. Призывная комиссия принимает соответствующие решения или выносит заключение, указанное в пункте 1.1 настоящей статьи (далее также - заключение), на основании настоящего Федерального закона, других федеральных законов, Положения о призыве на военную службу и иных нормативных правовых актов Российской Федерации.
            Информация об изменениях:
            Федеральным законом от 1 декабря 2014 г. N 414-ФЗ пункт 6 статьи 28 настоящего Федерального закона изложен в новой редакции
            См. текст пункта в предыдущей редакции
            6. Председатель призывной комиссии объявляет решение (заключение) гражданину, в отношении которого оно принято (вынесено). По письменному заявлению гражданина, поданному им в военный комиссариат, военный комиссариат в течение пяти рабочих дней со дня подачи заявления гражданином выдает ему под роспись выписку из протокола заседания призывной комиссии о соответствующем решении (заключении) либо направляет указанную выписку по почте заказным письмом с уведомлением о вручении по указанному в заявлении гражданина адресу. При этом в случае направления указанной выписки по почте заказным письмом датой ее вручения считается шестой день, считая с даты отправки заказного письма.
            Информация об изменениях:
            Федеральным законом от 1 декабря 2014 г. N 414-ФЗ пункт 7 статьи 28 настоящего Федерального закона изложен в новой редакции
            См. текст пункта в предыдущей редакции
            7. Решение (заключение) призывной комиссии может быть обжаловано гражданином в призывную комиссию соответствующего субъекта Российской Федерации в течение трех месяцев со дня принятия обжалуемого решения (вынесения обжалуемого заключения) или в суд. Жалоба гражданина на решение призывной комиссии должна быть рассмотрена в течение пяти рабочих дней со дня ее поступления в призывную комиссию соответствующего субъекта Российской Федерации, а жалоба гражданина на заключение призывной комиссии - в течение одного месяца со дня ее поступления в призывную комиссию соответствующего субъекта Российской Федерации. В случае обжалования гражданином решения (заключения) призывной комиссии выполнение этого решения (действие этого заключения) приостанавливается до вынесения решения призывной комиссией соответствующего субъекта Российской Федерации или вступления в законную силу решения суда.
            ГАРАНТ:
            См. комментарии к статье 28 настоящего Федерального закона

            Статья 29. Призывная комиссия субъекта Российской Федерации

            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ в пункт 1 статьи 29 настоящего Федерального закона внесены изменения, вступающие в силу с 1 сентября 2013 г.
            См. текст пункта в предыдущей редакции
            1. Решением высшего должностного лица субъекта Российской Федерации (руководителя высшего исполнительного органа государственной власти субъекта Российской Федерации) создается призывная комиссия субъекта Российской Федерации, в состав которой включаются:
            высшее должностное лицо субъекта Российской Федерации - председатель комиссии;
            военный комиссар - заместитель председателя комиссии;
            секретарь комиссии;
            врачи-специалисты, участвующие в проведении медицинского освидетельствования и медицинского осмотра граждан;
            представитель министерства внутренних дел, управления (главного управления) внутренних дел по субъекту Российской Федерации;
            представитель органа исполнительной власти субъекта Российской Федерации, осуществляющего государственное управление в сфере образования;
            представитель соответствующего органа службы занятости населения (в части вопросов, касающихся альтернативной гражданской службы).
            В состав призывной комиссии субъекта Российской Федерации могут включаться представители других органов и организаций субъекта Российской Федерации.
            Информация об изменениях:
            Федеральным законом от 1 декабря 2014 г. N 414-ФЗ в пункт 2 статьи 29 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            2. Призывная комиссия субъекта Российской Федерации:
            организует медицинский осмотр граждан, не пребывающих в запасе, призванных на военную службу, перед направлением их к месту прохождения военной службы, а также контрольное медицинское освидетельствование граждан, получивших освобождение от призыва на военную службу по состоянию здоровья, и граждан, заявивших о несогласии с заключениями о их годности к военной службе по результатам медицинского освидетельствования;
            осуществляет методическое руководство деятельностью призывных комиссий;
            проверяет правильность предоставления гражданам отсрочек и освобождений от призыва на военную службу;
            контролирует обоснованность направления граждан для прохождения военной службы в видах и родах войск Вооруженных Сил Российской Федерации, других войсках, воинских формированиях и органах;
            рассматривает жалобы граждан, призываемых на военную службу, на решения (заключения) призывных комиссий.
            Информация об изменениях:
            Федеральным законом от 1 декабря 2014 г. N 414-ФЗ пункт 3 статьи 29 настоящего Федерального закона изложен в новой редакции
            См. текст пункта в предыдущей редакции
            3. Призывная комиссия субъекта Российской Федерации имеет право отменять решения нижестоящих призывных комиссий, в том числе с одновременным принятием иного решения из числа предусмотренных пунктом 1 статьи 28 настоящего Федерального закона, а также отменять их заключения. При этом при принятии решения о призыве граждан на военную службу призывная комиссия субъекта Российской Федерации определяет вид и род Вооруженных Сил Российской Федерации, другие войска, воинские формирования и органы, в которых указанные граждане будут проходить военную службу.
            Информация об изменениях:
            Федеральным законом от 1 декабря 2014 г. N 414-ФЗ в пункт 4 статьи 29 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            4. Решение призывной комиссии субъекта Российской Федерации по жалобе гражданина может быть обжаловано им в суд. Решение призывной комиссии приостанавливается до вступления в законную силу решения суда.
            ГАРАНТ:
            См. комментарии к статье 29 настоящего Федерального закона

            Статья 30. Утратила силу.

            Информация об изменениях:
            См. текст статьи 30

            Информация об изменениях:
            Федеральным законом от 9 марта 2010 г. N 27-ФЗ в статью 31 настоящего Федерального закона внесены изменения, вступающие в силу с 1 апреля 2010 г.
            См. текст статьи в предыдущей редакции
            Статья 31. Обязанности граждан, подлежащих призыву на военную службу

            1. Граждане, не пребывающие в запасе, подлежащие призыву на военную службу, обязаны явиться в указанные в повестке военного комиссариата время и место на медицинское освидетельствование, заседание призывной комиссии или для отправки в воинскую часть для прохождения военной службы, а также находиться в военном комиссариате до начала военной службы.
            2. Граждане, подлежащие призыву на военную службу, обязаны получать повестки военного комиссариата под расписку. Повестки вручаются гражданам работниками военного комиссариата или по месту работы (учебы) гражданина руководителями, другими ответственными за военно-учетную работу должностными лицами (работниками) организаций. В повестках должны быть указаны правовые последствия невыполнения гражданами изложенных в них требований.
            В случае невозможности вручения повесток гражданам, подлежащим призыву на военную службу, указанными работниками, руководителями или должностными лицами обеспечение их прибытия на мероприятия, связанные с призывом на военную службу, возлагается на соответствующие органы внутренних дел на основании соответствующего письменного обращения военного комиссариата.
            3. Утратил силу с 1 января 2008 г.
            Информация об изменениях:
            См. текст пункта 3 статьи 31
            4. В случае неявки без уважительных причин гражданина по повестке военного комиссариата на мероприятия, связанные с призывом на военную службу, указанный гражданин считается уклоняющимся от военной службы и привлекается к ответственности в соответствии с законодательством Российской Федерации.
            ГАРАНТ:
            См. комментарии к статье 31 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 11 ноября 2003 г. N 141-ФЗ в наименование раздела V настоящего Федерального закона внесены изменения
            См. текст наименования в предыдущей редакции
        </div>
    </ion-content>
</ion-view>