<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <h1 class="title"> Раздел 2. Воинский учет</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">

            Информация об изменениях:
            Федеральным законом от 22 августа 2004 г. N 122-ФЗ в статью 8 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2005 г.
            См. текст статьи в предыдущей редакции
            Статья 8. Организация воинского учета

            Информация об изменениях:
            Федеральным законом от 30 ноября 2011 г. N 343-ФЗ в пункт 1 статьи 8 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            1. Граждане обязаны состоять на воинском учете, за исключением граждан:
            освобожденных от исполнения воинской обязанности в соответствии с настоящим Федеральным законом;
            проходящих военную службу;
            отбывающих наказание в виде лишения свободы;
            женского пола, не имеющих военно-учетной специальности;
            постоянно проживающих за пределами Российской Федерации.
            Информация об изменениях:
            Федеральным законом от 3 июля 2016 г. N 305-ФЗ в пункт 1.1 статьи 8 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            1.1. Порядок и особенности воинского учета граждан, проходящих службу в органах внутренних дел, войсках национальной гвардии Российской Федерации, Государственной противопожарной службе, учреждениях и органах уголовно-исполнительной системы на должностях рядового и начальствующего состава, определяются Положением о воинском учете, утверждаемым Правительством Российской Федерации.
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ в пункт 2 статьи 8 настоящего Федерального закона внесены изменения, вступающие в силу с 1 сентября 2013 г.
            См. текст пункта в предыдущей редакции
            2. Воинский учет граждан, за исключением граждан, указанных в пункте 3 настоящей статьи, осуществляется военными комиссариатами по месту их жительства, а граждан, прибывших на место пребывания на срок более трех месяцев или проходящих альтернативную гражданскую службу, - по месту их пребывания.
            ГАРАНТ:
            См. Положение о военных комиссариатах, утвержденное Указом Президента РФ от 7 декабря 2012 г. N 1609
            Военные комиссариаты осуществляют воинский учет граждан через свои структурные подразделения по муниципальным образованиям (далее - структурные подразделения).
            Полномочия Российской Федерации на осуществление воинского учета на территориях, на которых отсутствуют структурные подразделения военных комиссариатов, передаются соответствующим органам местного самоуправления поселений и органам местного самоуправления городских округов. Совокупность таких полномочий именуется первичным воинским учетом.
            Органы местного самоуправления поселений и органы местного самоуправления городских округов осуществляют первичный воинский учет граждан, проживающих или пребывающих на территориях указанных муниципальных образований.
            Абзац пятый утратил силу.
            Информация об изменениях:
            См. текст абзаца пятого пункта 2 статьи 8
            При осуществлении первичного воинского учета органы местного самоуправления поселений и органы местного самоуправления городских округов вправе:
            запрашивать у организаций и граждан информацию, необходимую для занесения в документы воинского учета;
            вызывать граждан по вопросам воинского учета и оповещать граждан о вызовах (повестках) военных комиссариатов;
            определять порядок оповещения граждан о вызовах (повестках) военных комиссариатов;
            определять порядок приема граждан по вопросам воинского учета;
            запрашивать у военных комиссариатов разъяснения по вопросам первичного воинского учета;
            вносить в военные комиссариаты предложения о совершенствовании организации первичного воинского учета.
            При осуществлении первичного воинского учета органы местного самоуправления поселений и органы местного самоуправления городских округов обязаны:
            осуществлять сбор, хранение и обработку сведений, содержащихся в документах первичного воинского учета, в порядке, установленном законодательством Российской Федерации в области персональных данных и Положением о воинском учете. Состав сведений, содержащихся в документах первичного воинского учета, и форма учета таких сведений определяются Положением о воинском учете;
            поддерживать сведения, содержащиеся в документах первичного воинского учета, в актуальном состоянии и обеспечивать поддержание в актуальном состоянии сведений, содержащихся в документах воинского учета. При этом информация об изменении сведений, содержащихся в документах воинского учета, должна направляться в военный комиссариат в двухнедельный срок со дня ее получения;
            направлять в двухнедельный срок по запросам военных комиссариатов необходимые для занесения в документы воинского учета сведения о гражданах, поступающих на воинский учет, состоящих на воинском учете, а также не состоящих, но обязанных состоять на воинском учете;
            организовывать и обеспечивать постановку на воинский учет, снятие с воинского учета и внесение изменений в документы воинского учета граждан, обязанных состоять на воинском учете, при их переезде на новое место жительства, расположенное в пределах территории муниципального образования, место пребывания либо выезде из Российской Федерации на срок более шести месяцев или въезде в Российскую Федерацию;
            осуществлять сбор информации о прохождении гражданами медицинского обследования при первоначальной постановке на воинский учет, призыве или поступлении на военную службу по контракту, поступлении в мобилизационный людской резерв, поступлении в военные профессиональные образовательные организации и военные образовательные организации высшего образования, призыве на военные сборы, медицинского переосвидетельствования ранее признанных ограниченно годными к военной службе по состоянию здоровья;
            представлять в военный комиссариат ежегодно до 1 октября списки граждан мужского пола, достигших возраста 15 лет, и граждан мужского пола, достигших возраста 16 лет, а до 1 ноября - списки граждан мужского пола, подлежащих первоначальной постановке на воинский учет в следующем году, по форме, установленной Положением о воинском учете;
            организовывать и обеспечивать своевременное оповещение граждан о вызовах (повестках) военных комиссариатов;
            вести прием граждан по вопросам воинского учета.
            Координация деятельности по осуществлению первичного воинского учета и контроль за осуществлением переданных полномочий осуществляются федеральным органом исполнительной власти, осуществляющим функции по выработке и реализации государственной политики, нормативно-правовому регулированию в области обороны, в порядке, определяемом Положением о воинском учете.
            Средства на осуществление передаваемых полномочий на осуществление первичного воинского учета предусматриваются в виде субвенций в федеральном бюджете.
            Предоставление субвенций органам местного самоуправления поселений и органам местного самоуправления городских округов из федерального бюджета осуществляется в порядке, установленном статьями 133 и 140 Бюджетного кодекса Российской Федерации.
            Объем средств, передаваемых органам местного самоуправления поселений и органам местного самоуправления городских округов, определяется исходя из численности граждан, состоящих на первичном воинском учете по состоянию на 31 декабря предшествующего года, и утвержденной Правительством Российской Федерации методики расчета норматива затрат.
            Субвенции зачисляются в установленном для исполнения федерального бюджета порядке на счета бюджетов субъектов Российской Федерации и передаются бюджетам поселений и городских округов.
            Порядок расходования и учета субвенций, а также изъятия переданных полномочий устанавливается Правительством Российской Федерации.
            Органы местного самоуправления поселений и органы местного самоуправления городских округов ежеквартально представляют в специально уполномоченный орган государственной власти субъекта Российской Федерации отчет о расходовании предоставленных субвенций с указанием численности военно-учетных работников, осуществляющих первичный воинский учет (освобожденных военно-учетных работников и работников по совместительству).
            Органы государственной власти субъекта Российской Федерации не позднее 15-го числа месяца, следующего за отчетным кварталом, представляют в федеральный орган исполнительной власти, осуществляющий функции по выработке и реализации государственной политики, нормативно-правовому регулированию в области обороны, федеральный орган исполнительной власти, осуществляющий функции по выработке государственной политики и нормативно-правовому регулированию в сфере бюджетной деятельности, единой государственной финансовой, кредитной, денежной политики, отчет о расходовании предоставленных субвенций с указанием численности военно-учетных работников, осуществляющих первичный воинский учет (освобожденных военно-учетных работников и работников по совместительству).
            Средства на реализацию полномочий на осуществление первичного воинского учета носят целевой характер и не могут быть использованы на другие цели.
            Контроль за расходованием субвенций осуществляется федеральным органом исполнительной власти, осуществляющим функции по контролю и надзору в финансово-бюджетной сфере, федеральным органом исполнительной власти, осуществляющим функции по выработке и реализации государственной политики, нормативно-правовому регулированию в области обороны, Счетной палатой Российской Федерации, а также специально уполномоченными органами субъектов Российской Федерации.
            Осуществление органами местного самоуправления поселений или органами местного самоуправления городских округов первичного воинского учета прекращается в случае создания на территории поселения или городского округа структурного подразделения военного комиссариата. В этом случае осуществление органами местного самоуправления поселений или органами местного самоуправления городских округов первичного воинского учета прекращается с 1-го числа месяца, следующего за месяцем создания структурного подразделения военного комиссариата.
            ГАРАНТ:
            См. Инструкцию об организации взаимодействия военных комиссариатов, органов внутренних дел и территориальных органов Федеральной миграционной службы в работе по обеспечению исполнения гражданами Российской Федерации воинской обязанности, утвержденную приказом Минобороны РФ, МВД РФ и Федеральной миграционной службы РФ от 10 сентября 2007 г. N 366/789/197

            Информация об изменениях:
            Федеральным законом от 30 сентября 2005 г. N 125-ФЗ в пункт 3 статьи 8 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            3. Воинский учет граждан, имеющих воинские звания офицеров и пребывающих в запасе Службы внешней разведки Российской Федерации и в запасе Федеральной службы безопасности Российской Федерации, осуществляется указанными органами в том же порядке, который определен настоящим Федеральным законом.
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 170-ФЗ в пункт 4 статьи 8 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2014 г.
            См. текст пункта в предыдущей редакции
            4. Документы воинского учета должны содержать следующие сведения о гражданине:
            фамилия, имя и отчество;
            дата рождения;
            место жительства и место пребывания;
            семейное положение;
            образование;
            место работы;
            годность к военной службе по состоянию здоровья;
            профессиональная пригодность к подготовке по военно-учетным специальностям и к военной службе на воинских должностях;
            основные антропометрические данные;
            прохождение военной службы или альтернативной гражданской службы;
            прохождение военных сборов;
            владение иностранными языками;
            наличие военно-учетных и гражданских специальностей;
            наличие спортивного разряда кандидата в мастера спорта, первого спортивного разряда или спортивного звания;
            возбуждение или прекращение в отношении гражданина уголовного дела;
            наличие судимости;
            признание гражданина не прошедшим военную службу по призыву, не имея на то законных оснований, в соответствии с заключением призывной комиссии;
            бронирование гражданина, пребывающего в запасе, за органом государственной власти, органом местного самоуправления или организацией на период мобилизации и в военное время;
            пребывание в мобилизационном людском резерве.
            5. Сбор, хранение, использование и распространение сведений, содержащихся в документах воинского учета, осуществляются в соответствии с федеральным законом.
            Информация об изменениях:
            Федеральным законом от 3 декабря 2008 г. N 248-ФЗ в пункт 6 статьи 8 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            6. Порядок воинского учета граждан, в том числе первичного воинского учета, определяется настоящим Федеральным законом и Положением о воинском учете.
            7. Органы государственной власти, организации и их должностные лица исполняют обязанности по организации и ведению воинского учета граждан в соответствии с настоящим Федеральным законом и Положением о воинском учете.
            Информация об изменениях:
            Федеральным законом от 9 марта 2010 г. N 27-ФЗ в пункт 8 статьи 8 настоящего Федерального закона внесены изменения, вступающие в силу с 1 апреля 2010 г.
            См. текст пункта в предыдущей редакции
            8. Граждане, постоянно проживающие за пределами Российской Федерации и изъявившие желание проходить военную службу по призыву на воинских должностях, замещаемых солдатами, матросами, сержантами и старшинами в Вооруженных Силах Российской Федерации, других войсках, воинских формированиях и органах, могут быть поставлены на воинский учет в порядке, определяемом Положением о воинском учете, при условии заключения и ратификации Российской Федерацией соответствующих международных договоров.
            ГАРАНТ:
            См. комментарии к статье 8 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 22 августа 2004 г. N 122-ФЗ в статью 9 настоящего Федерального закона внесены изменения, вступающие в силу с 1 января 2005 г.
            См. текст статьи в предыдущей редакции
            Статья 9. Первоначальная постановка граждан на воинский учет

            Информация об изменениях:
            Федеральным законом от 9 марта 2010 г. N 27-ФЗ в пункт 1 статьи 9 настоящего Федерального закона внесены изменения, вступающие в силу с 1 апреля 2010 г.
            См. текст пункта в предыдущей редакции
            1. Первоначальная постановка на воинский учет граждан мужского пола осуществляется в период с 1 января по 31 марта в год достижения ими возраста 17 лет комиссиями по постановке граждан на воинский учет, создаваемыми в муниципальных районах, городских округах и на внутригородских территориях городов федерального значения решением высшего должностного лица субъекта Российской Федерации (руководителя высшего исполнительного органа государственной власти субъекта Российской Федерации) по представлению военного комиссара.
            Информация об изменениях:
            Федеральным законом от 2 июля 2013 г. N 185-ФЗ пункт 2 статьи 9 настоящего Федерального закона изложен в новой редакции, вступающей в силу с 1 сентября 2013 г.
            См. текст пункта в предыдущей редакции
            2. Должностные лица организаций обязаны обеспечивать гражданам, работающим или обучающимся в указанных организациях, возможность своевременной явки по повестке военного комиссариата для постановки на воинский учет.
            Информация об изменениях:
            Федеральным законом от 9 марта 2010 г. N 27-ФЗ в пункт 3 статьи 9 настоящего Федерального закона внесены изменения, вступающие в силу с 1 апреля 2010 г.
            См. текст пункта в предыдущей редакции
            3. В случае, если граждане, подлежащие постановке на воинский учет, не работают и не учатся, они при получении повестки военного комиссариата обязаны лично прибыть в указанные в ней время и место для первоначальной постановки на воинский учет.
            Информация об изменениях:
            Федеральным законом от 3 декабря 2008 г. N 248-ФЗ пункт 4 статьи 9 настоящего Федерального закона изложен в новой редакции
            См. текст пункта в предыдущей редакции
            4. Первоначальная постановка на воинский учет граждан женского пола после получения ими военно-учетной специальности, лиц, приобретших гражданство Российской Федерации, граждан, отбывших наказание в виде лишения свободы, граждан, проживавших за пределами Российской Федерации и прибывших для постоянного проживания в Российскую Федерацию, а также граждан, обязанных явиться для первоначальной постановки на воинский учет, но не явившихся в сроки, установленные пунктом 1 настоящей статьи, осуществляется военными комиссариатами в течение всего календарного года.
            Информация об изменениях:
            Федеральным законом от 9 марта 2010 г. N 27-ФЗ в пункт 5 статьи 9 настоящего Федерального закона внесены изменения, вступающие в силу с 1 апреля 2010 г.
            См. текст пункта в предыдущей редакции
            5. Комиссия по постановке граждан на воинский учет имеет следующий состав:
            должностное лицо военного комиссариата - председатель комиссии;
            представитель местной администрации;
            специалист по профессиональному психологическому отбору;
            секретарь комиссии;
            врачи-специалисты.
            6. Комиссия по постановке граждан на воинский учет обязана организовать медицинское освидетельствование граждан, определить их годность к военной службе по состоянию здоровья, провести мероприятия по профессиональному психологическому отбору граждан для определения их пригодности к подготовке по военно-учетным специальностям и принять решение о постановке гражданина на воинский учет либо внести на рассмотрение призывной комиссии вопрос о зачислении в запас гражданина, признанного ограниченно годным к военной службе, или вопрос об освобождении от исполнения воинской обязанности гражданина, признанного не годным к военной службе.
            7. Председатель комиссии по постановке граждан на воинский учет или по его поручению секретарь комиссии обязан объявить гражданам решение комиссии и разъяснить их обязанности по воинскому учету.
            ГАРАНТ:
            См. комментарии к статье 9 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 9 марта 2010 г. N 27-ФЗ в статью 10 настоящего Федерального закона внесены изменения, вступающие в силу с 1 апреля 2010 г.
            См. текст статьи в предыдущей редакции
            Статья 10. Обязанности граждан по воинскому учету

            Информация об изменениях:
            Федеральным законом от 30 ноября 2011 г. N 343-ФЗ в пункт 1 статьи 10 настоящего Федерального закона внесены изменения
            См. текст пункта в предыдущей редакции
            1. В целях обеспечения воинского учета граждане обязаны:
            состоять на воинском учете по месту жительства (граждане, прибывшие на место пребывания на срок более трех месяцев или проходящие альтернативную гражданскую службу, - по месту их пребывания) в военном комиссариате, а граждане, имеющие воинские звания офицеров и пребывающие в запасе Службы внешней разведки Российской Федерации и в запасе Федеральной службы безопасности Российской Федерации, - в указанных органах;
            явиться в указанные в повестке военного комиссариата время и место либо по вызову соответствующего органа местного самоуправления поселения или соответствующего органа местного самоуправления городского округа, осуществляющего первичный воинский учет;
            при исключении их из списков личного состава воинской части в связи с увольнением с военной службы в запас Вооруженных Сил Российской Федерации, освобождении от отбывания наказания в виде лишения свободы, получении гражданином женского пола военно-учетной специальности, приобретении гражданства Российской Федерации (для граждан, подлежащих постановке на воинский учет) явиться в двухнедельный срок со дня наступления указанных событий в военный комиссариат для постановки на воинский учет;
            сообщить в двухнедельный срок в военный комиссариат либо в соответствующий орган местного самоуправления поселения или соответствующий орган местного самоуправления городского округа, осуществляющий первичный воинский учет, об изменении семейного положения, образования, места работы или должности, о переезде на новое место жительства, расположенное в пределах территории муниципального образования, или место пребывания;
            явиться в двухнедельный срок в военный комиссариат для постановки на воинский учет, снятия с воинского учета и внесения изменений в документы воинского учета при переезде на новое место жительства, расположенное за пределами территории муниципального образования, место пребывания на срок более трех месяцев либо выезде из Российской Федерации на срок более шести месяцев или въезде в Российскую Федерацию;
            бережно хранить военный билет (временное удостоверение, выданное взамен военного билета), а также удостоверение гражданина, подлежащего призыву на военную службу. В случае утраты указанных документов в двухнедельный срок обратиться в военный комиссариат либо в соответствующий орган местного самоуправления поселения или соответствующий орган местного самоуправления городского округа, осуществляющий первичный воинский учет, для решения вопроса о получении документов взамен утраченных.
            2. Граждане, подлежащие призыву на военную службу, выезжающие в период проведения призыва на срок более трех месяцев с места жительства или места пребывания, должны лично сообщить об этом в военный комиссариат либо в соответствующий орган местного самоуправления поселения или соответствующий орган местного самоуправления городского округа, осуществляющий первичный воинский учет.
            3. Граждане исполняют и иные обязанности, установленные Положением о воинском учете.
            ГАРАНТ:
            См. комментарии к статье 10 настоящего Федерального закона
        </div>
    </ion-content>
</ion-view>