<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('o_voinskoi_obyzonnosti')"><img src="../img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title"> Раздел 9. Заключительные положения</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 58. Действие ранее принятых нормативных правовых актов

            Нормативные правовые акты, принятые Главным командованием Объединенных Вооруженных Сил Содружества Независимых Государств до образования Вооруженных Сил Российской Федерации, Главным командованием пограничных войск Содружества Независимых Государств до образования Пограничных войск Российской Федерации по вопросам, регулируемым настоящим Федеральным законом, сохраняют свою силу в части, не противоречащей настоящему Федеральному закону.
            ГАРАНТ:
            См. комментарии к статье 58 настоящего Федерального закона

            Информация об изменениях:
            Федеральным законом от 30 марта 2015 г. N 58-ФЗ настоящий Федеральный закон дополнена статьей 58.1, вступающей в силу с 1 апреля 2015 г.
            Статья 58.1. Особенности правового регулирования отношений в сфере исполнения воинской обязанности отдельными категориями граждан Российской Федерации

            Особенности правового регулирования отношений в сфере исполнения воинской обязанности, в том числе освобождения от исполнения воинской обязанности, отдельными категориями граждан Российской Федерации устанавливаются Федеральным законом "Об особенностях правового регулирования отношений, связанных с исполнением воинской обязанности отдельными категориями граждан Российской Федерации в связи с принятием в Российскую Федерацию Республики Крым и образованием в составе Российской Федерации новых субъектов - Республики Крым и города федерального значения Севастополя, и внесении изменений в Федеральный закон "О воинской обязанности и военной службе".

            Статья 59. Утратила силу.

            Информация об изменениях:
            См. текст статьи 59

            Статья 60. Действие ранее заключенных контрактов о прохождении военной службы

            Контракты о прохождении военной службы, заключенные до вступления в силу настоящего Федерального закона, действуют в течение сроков, на которые они были заключены.
            ГАРАНТ:
            См. комментарии к статье 60 настоящего Федерального закона

            Статья 61. О включении срока действительной военной службы в общую продолжительность военной службы

            Продолжительность действительной военной службы военнослужащего до 1 марта 1993 года включается в общую продолжительность его военной службы.
            ГАРАНТ:
            См. комментарии к статье 61 настоящего Федерального закона

            Статья 62. О воинских званиях, не предусмотренных настоящим Федеральным законом

            Военнослужащим и гражданам, пребывающим в запасе или находящимся в отставке, сохраняются воинские звания, которые не предусмотрены настоящим Федеральным законом и присвоены им ранее.
            ГАРАНТ:
            См. комментарии к статье 62 настоящего Федерального закона

            Статья 63. О приведении нормативных правовых актов в соответствие с настоящим Федеральным законом

            Предложить Президенту Российской Федерации и поручить Правительству Российской Федерации привести свои нормативные правовые акты в соответствие с настоящим Федеральным законом.
            ГАРАНТ:
            См. комментарии к статье 63 настоящего Федерального закона

            Статья 64. О признании утратившими силу некоторых законодательных актов в связи с принятием настоящего Федерального закона

            В связи с принятием настоящего Федерального закона признать утратившими силу:
            Закон Российской Федерации "О воинской обязанности и военной службе" (Ведомости Съезда народных депутатов Российской Федерации и Верховного Совета Российской Федерации, 1993, N 9, ст.325);
            постановление Верховного Совета Российской Федерации "О порядке введения в действие Закона Российской Федерации "О воинской обязанности и военной службе" от 11 февраля 1993 года N 4457-1 (Ведомости Съезда народных депутатов Российской Федерации и Верховного Совета Российской Федерации, 1993, N 9, ст.326);
            постановление Верховного Совета Российской Федерации "О некоторых мерах, связанных с исполнением Закона Российской Федерации "О воинской обязанности и военной службе" от 19 мая 1993 года N 4983-1 (Ведомости Съезда народных депутатов Российской Федерации и Верховного Совета Российской Федерации, 1993, N 24, ст.859);
            постановление Верховного Совета Российской Федерации "О внесении изменений в постановления Верховного Совета Российской Федерации "О порядке введения в действие Закона Российской Федерации "Об обороне" и "О порядке введения в действие Закона Российской Федерации "О воинской обязанности и военной службе" от 23 июля 1993 года N 5506-1 (Ведомости Съезда народных депутатов Российской Федерации и Верховного Совета Российской Федерации, 1993, N 32, ст.1270);
            Федеральный закон "О внесении изменений и дополнений в Закон Российской Федерации "О воинской обязанности и военной службе" (Собрание законодательства Российской Федерации, 1995, N 18, ст.1597);
            Федеральный закон "О внесении изменения в Закон Российской Федерации "О воинской обязанности и военной службе" (Собрание законодательства Российской Федерации, 1996, N 20, ст. 2322).
        </div>
    </ion-content>
</ion-view>