<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <h1 class="title">Глава 2. Организация накопительно-ипотечной системы</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 4. Реализация права на жилище участниками накопительно-ипотечной системы
            к содержанию

            1. Реализация права на жилище участниками накопительно-ипотечной системы осуществляется посредством:

            1) формирования накоплений для жилищного обеспечения на именных накопительных счетах участников и последующего использования этих накоплений;

            2) предоставления целевого жилищного займа;

            3) выплаты по решению федерального органа исполнительной власти, в котором федеральным законом предусмотрена военная служба, за счет средств федерального бюджета, выделяемых соответствующему федеральному органу исполнительной власти, в размере и в порядке, которые устанавливаются Правительством Российской Федерации, денежных средств, дополняющих накопления для жилищного обеспечения, учтенные на именном накопительном счете участника, до расчетного размера денежных средств, которые мог бы накопить участник накопительно-ипотечной системы в период от даты предоставления таких средств до даты, когда общая продолжительность его военной службы в календарном исчислении (далее - общая продолжительность военной службы) могла бы составить двадцать лет (без учета дохода от инвестирования).

            2. Выплата денежных средств, указанных в пункте 3 части 1 настоящей статьи, производится военнослужащим, участвовавшим в накопительно-ипотечной системе, или членам их семей, не являющимся нанимателями жилых помещений по договорам социального найма или членами семьи нанимателя жилого помещения по договору социального найма либо собственниками жилых помещений или членами семьи собственника жилого помещения, за исключением жилых помещений, приобретенных с использованием целевых жилищных займов в соответствии с настоящим Федеральным законом:

            1) участникам накопительно-ипотечной системы, указанным в пункте 2 статьи 10 настоящего Федерального закона, при общей продолжительности военной службы от десяти до двадцати лет;

            2) членам семей участников накопительно-ипотечной системы в случаях, предусмотренных частью 1 статьи 12 настоящего Федерального закона;

            3) участникам накопительно-ипотечной системы, указанным в пункте 4 статьи 10 настоящего Федерального закона.

            3. Выплаты денежных средств, указанных в пункте 3 части 1 настоящей статьи, производятся федеральными органами исполнительной власти, в которых федеральным законом предусмотрена военная служба, в трехмесячный срок начиная со дня поступления в соответствующий федеральный орган исполнительной власти заявления в письменной форме от участника накопительно-ипотечной системы или членов его семьи с просьбой о получении выплаты.


            Статья 5. Формирование накоплений для жилищного обеспечения
            к содержанию

            1. Накопления для жилищного обеспечения формируются за счет следующих источников:

            1) учитываемые на именных накопительных счетах участников накопительные взносы за счет средств федерального бюджета;

            2) доходы от инвестирования накоплений для жилищного обеспечения;

            3) иные не запрещенные законодательством Российской Федерации поступления.

            2. Размер накопительного взноса на одного участника устанавливается федеральным законом о федеральном бюджете на год внесения накопительного взноса в размере не менее чем накопительный взнос, полученный путем индексации фактически начисленного и перечисленного накопительного взноса предыдущего года с учетом уровня инфляции, предусмотренного прогнозом социально-экономического развития Российской Федерации на очередной год.

            3. Накопительные взносы, перечисляемые ежеквартально из федерального бюджета на одного участника накопительно-ипотечной системы, учитываются на именном накопительном счете участника в течение всего периода его военной службы в соответствии с утверждаемыми Правительством Российской Федерации правилами функционирования накопительно-ипотечной системы, содержащими:

            1) порядок ведения именных накопительных счетов участников;

            2) порядок и условия использования накоплений для жилищного обеспечения, предоставления и погашения целевых жилищных займов;

            3) порядок предоставления уполномоченным федеральным органом информации об управляющих компаниях и о специализированном депозитарии, о состоянии именных накопительных счетов участников;

            4) иные составляющие правил функционирования накопительно-ипотечной системы.

            4. Учет накопительных взносов на именных накопительных счетах участников осуществляется на основании сведений об участниках накопительно-ипотечной системы, представляемых в уполномоченный федеральный орган федеральными органами исполнительной власти, в которых федеральным законом предусмотрена военная служба.

            5. Учет накопительных взносов на именном накопительном счете участника начинается с 1-го числа месяца, следующего за месяцем открытия этого счета, и прекращается со дня закрытия этого счета.

            6. Учет доходов от инвестирования на именных накопительных счетах участников осуществляется уполномоченным федеральным органом пропорционально суммам накоплений, учтенных на именных накопительных счетах участников, и срокам их инвестирования за отчетный год.

            7. Указанные в пункте 3 части 1 настоящей статьи поступления учитываются на именном накопительном счете каждого участника пропорционально накоплениям, учтенным на именном накопительном счете по состоянию на дату поступления средств.

            7.1. На именном накопительном счете участника, который был исключен из реестра участников в связи с увольнением с военной службы по состоянию здоровья, или в связи с организационно-штатными мероприятиями, или по семейным обстоятельствам, предусмотренным законодательством Российской Федерации о воинской обязанности и военной службе, у которого при этом не возникло право на использование накоплений для жилищного обеспечения по основаниям, предусмотренным пунктом 2 статьи 10 настоящего Федерального закона, и который был включен в реестр участников по основанию, предусмотренному пунктом 14 части 2 статьи 9 настоящего Федерального закона, учитываются денежные средства в размере накоплений для жилищного обеспечения, учтенных на именном накопительном счете участника на день возникновения основания для исключения его из реестра участников.

            8. Накопления для жилищного обеспечения являются собственностью Российской Федерации, не подлежат изъятию в бюджет какого-либо уровня, не могут являться предметом залога или иного обеспечения обязательств собственника указанных накоплений и субъектов отношений по их формированию и инвестированию.

            9. Учет накоплений для жилищного обеспечения ведется на именных накопительных счетах участников уполномоченным федеральным органом в соответствии с законодательством Российской Федерации и правилами функционирования накопительно-ипотечной системы, указанными в части 3 настоящей статьи.

            10. Учету на именном накопительном счете участника подлежат поступившие накопительные взносы, операции по использованию накоплений для жилищного обеспечения, а также рассчитанный исходя из стоимости чистых активов совокупного инвестиционного портфеля на конец отчетного периода размер накоплений для жилищного обеспечения, сформированных в пользу участника по состоянию на конец отчетного периода.


            Статья 6. Субъекты отношений по формированию и инвестированию накоплений для жилищного обеспечения
            к содержанию

            Субъектами отношений по формированию и инвестированию накоплений для жилищного обеспечения являются федеральные органы исполнительной власти, в которых федеральным законом предусмотрена военная служба, уполномоченный федеральный орган, специализированный депозитарий, управляющие компании, кредитные организации и брокеры.


            Статья 7. Функции федеральных органов исполнительной власти, в которых федеральным законом предусмотрена военная служба, функции уполномоченного федерального органа
            к содержанию

            1. Федеральные органы исполнительной власти, в которых федеральным законом предусмотрена военная служба:

            1) формируют и ведут реестр участников в порядке, устанавливаемом Правительством Российской Федерации, и представляют в уполномоченный федеральный орган сведения об участниках накопительно-ипотечной системы, необходимые для ведения их именных накопительных счетов, с учетом требований законодательства Российской Федерации о государственной тайне;

            2) сообщают в уполномоченный федеральный орган о переходе участника накопительно-ипотечной системы в другой федеральный орган исполнительной власти для прохождения военной службы;

            3) представляют в федеральный орган исполнительной власти в области финансов и уполномоченный федеральный орган сведения о количестве участников накопительно-ипотечной системы для формирования бюджетной проектировки на соответствующий год;

            4) сверяют сведения, отраженные в реестре участников, совместно с уполномоченным федеральным органом;

            5) получают в уполномоченном федеральном органе сведения об именных накопительных счетах участников;

            6) информируют в письменной форме участников накопительно-ипотечной системы о включении их в эту систему и об исключении их из нее;

            7) в случаях, установленных пунктом 3 части 1 статьи 4 настоящего Федерального закона, принимают решение о выплате денежных средств, дополняющих накопления для жилищного обеспечения, участникам накопительно-ипотечной системы или членам их семей и выплачивают указанные денежные средства;

            8) проводят информационно-разъяснительную работу о накопительно-ипотечной системе;

            9) осуществляют иные функции, предусмотренные настоящим Федеральным законом, другими федеральными законами и иными нормативными правовыми актами Российской Федерации.

            2. Уполномоченный федеральный орган:

            1) оформляет получение в установленном порядке бюджетных ассигнований для накопления средств на именных накопительных счетах участников;

            2) проводит учет накоплений для жилищного обеспечения, в том числе на именных накопительных счетах участников;

            3) проводит в порядке, устанавливаемом Правительством Российской Федерации, конкурсы по отбору специализированного депозитария для заключения с ним договора об оказании услуг специализированного депозитария;

            4) проводит в порядке, устанавливаемом Правительством Российской Федерации, конкурсы по отбору управляющих компаний для заключения с ними договоров доверительного управления накоплениями для жилищного обеспечения;

            5) является в соответствии с законодательством Российской Федерации стороной договоров с управляющими компаниями и специализированным депозитарием, которые отобраны по результатам конкурса в соответствии с требованиями настоящего Федерального закона;

            6) истребует и получает от управляющих компаний средства для их целевого использования участниками накопительно-ипотечной системы в соответствии с настоящим Федеральным законом;

            7) осуществляет реализацию мер, предусмотренных законодательством Российской Федерации, в целях сохранности накоплений для жилищного обеспечения, находящихся в доверительном управлении управляющих компаний;

            8) осуществляет оформление и выдачу целевых жилищных займов участникам накопительно-ипотечной системы по заявлению в письменной форме участника;

            9) представляет ежегодно в Правительство Российской Федерации отчетность о средствах, учтенных на именных накопительных счетах участников, о результатах инвестирования накоплений для жилищного обеспечения, переданных в доверительное управление управляющим компаниям, об использовании накоплений для жилищного обеспечения;

            10) осуществляет раскрытие информации о формировании, об инвестировании и использовании накоплений для жилищного обеспечения в порядке и в сроки, которые устанавливаются Правительством Российской Федерации;

            11) проводит информационно-разъяснительную работу по реализации настоящего Федерального закона;

            12) информирует участников о рынке жилья;

            13) предоставляет накопления для жилищного обеспечения участникам накопительно-ипотечной системы после возникновения права на их использование;

            13.1) определяет в соответствии с настоящим Федеральным законом требования к инвестиционной декларации управляющей компании, в том числе структуру инвестиционного портфеля;

            14) осуществляет иные функции, предусмотренные настоящим Федеральным законом, другими федеральными законами и иными нормативными правовыми актами Российской Федерации, положением об уполномоченном федеральном органе, утверждаемым Правительством Российской Федерации.


            Статья 8. Совет по инвестированию накоплений для жилищного обеспечения
            к содержанию

            1. Общественный контроль за инвестированием накоплений для жилищного обеспечения осуществляется Советом по инвестированию накоплений для жилищного обеспечения (далее - Совет) в соответствии с положением, утвержденным Правительством Российской Федерации.

            2. Персональный состав Совета формируется из представителей саморегулируемых организаций профессиональных участников рынка ценных бумаг, иных общественных организаций и федеральных органов исполнительной власти.

            3. В состав Совета не могут входить лица, в силу своих профессиональных обязанностей непосредственно принимающие решения об инвестировании накоплений для жилищного обеспечения.

            4. Члены Совета осуществляют свою деятельность на безвозмездной основе.

            5. Совет имеет право запрашивать уполномоченный федеральный орган об информации о деятельности по инвестированию накоплений для жилищного обеспечения, в том числе отчетность субъектов отношений по инвестированию накоплений для жилищного обеспечения, а также аудиторские отчеты и аудиторские заключения по указанной отчетности.

            6. В случае выявления фактов правонарушений в области инвестирования и использования накоплений для жилищного обеспечения соответствующие предложения направляются Советом в уполномоченные федеральные органы исполнительной власти, осуществляющие функции по нормативно-правовому регулированию, и уполномоченные федеральные органы исполнительной власти, осуществляющие функции по государственному контролю (надзору) в сфере отношений по формированию, инвестированию и использованию накоплений для жилищного обеспечения, федеральный орган исполнительной власти в области финансовых рынков, иные федеральные органы исполнительной власти, их территориальные органы и правоохранительные органы в соответствии с их компетенцией для решения вопроса о привлечении правонарушителей к ответственности, предусмотренной законодательством Российской Федерации.

        </div>
    </ion-content>
</ion-view>