<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme')"><img src="img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">Глава 3. Участие военнослужащих в накопительно-ипотечной системе</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 9. Участники накопительно-ипотечной системы
            к содержанию

            1. К участникам накопительно-ипотечной системы относятся следующие военнослужащие:

            1) лица, окончившие военные образовательные учреждения профессионального образования и получившие в связи с этим первое воинское звание офицера начиная с 1 января 2005 года, при этом указанные лица, заключившие первые контракты о прохождении военной службы до 1 января 2005 года, могут стать участниками, изъявив такое желание;

            2) офицеры, призванные на военную службу из запаса или поступившие в добровольном порядке на военную службу из запаса и заключившие первый контракт о прохождении военной службы начиная с 1 января 2005 года;

            3) прапорщики и мичманы, общая продолжительность военной службы по контракту которых составит три года начиная с 1 января 2005 года, при этом указанные лица, заключившие первые контракты о прохождении военной службы до 1 января 2005 года, могут стать участниками, изъявив такое желание;

            4) сержанты и старшины, солдаты и матросы, заключившие второй контракт о прохождении военной службы не ранее 1 января 2005 года, изъявившие желание стать участниками накопительно-ипотечной системы;

            5) лица, окончившие военные образовательные учреждения профессионального образования в период после 1 января 2005 года до 1 января 2008 года и получившие первое воинское звание офицера в процессе обучения, могут стать участниками, изъявив такое желание;

            6) лица, получившие первое воинское звание офицера в связи с поступлением на военную службу по контракту на воинскую должность, для которой штатом предусмотрено воинское звание офицера, начиная с 1 января 2005 года, при этом указанные лица, получившие первое воинское звание офицера до 1 января 2008 года, могут стать участниками, изъявив такое желание;

            7) военнослужащие, получившие первое воинское звание офицера в связи с назначением на воинскую должность, для которой штатом предусмотрено воинское звание офицера, начиная с 1 января 2005 года, общая продолжительность военной службы по контракту которых составляет менее трех лет, при этом указанные лица, получившие первое воинское звание офицера до 1 января 2008 года, могут стать участниками, изъявив такое желание;

            8) военнослужащие, окончившие курсы по подготовке младших офицеров и получившие в связи с этим первое воинское звание офицера начиная с 1 января 2005 года, общая продолжительность военной службы по контракту которых составляет менее трех лет, при этом указанные лица, получившие первое воинское звание офицера до 1 января 2008 года, могут стать участниками, изъявив такое желание.

            2. Основанием для включения военнослужащего федеральным органом исполнительной власти, в котором федеральным законом предусмотрена военная служба, в реестр участников является:

            1) для лиц, окончивших военные образовательные учреждения профессионального образования и заключивших первый контракт о прохождении военной службы после 1 января 2005 года, - получение первого воинского звания офицера;

            2) для офицеров, призванных на военную службу из запаса или поступивших в добровольном порядке на военную службу из запаса, - заключение первого контракта о прохождении военной службы;

            3) для прапорщиков и мичманов, заключивших первый контракт о прохождении военной службы после 1 января 2005 года, - общая продолжительность их военной службы по контракту три года;

            4) для сержантов и старшин, солдат и матросов - в письменной форме обращение об их включении в реестр участников;

            5) для лиц, окончивших военные образовательные учреждения профессионального образования начиная с 1 января 2005 года и заключивших первый контракт о прохождении военной службы до 1 января 2005 года, - в письменной форме обращение об их включении в реестр участников;

            6) для прапорщиков и мичманов, общая продолжительность военной службы по контракту которых составит три года начиная с 1 января 2005 года, если они заключили первый контракт о прохождении военной службы до 1 января 2005 года, - в письменной форме обращение об их включении в реестр участников;

            7) для лиц, окончивших военные образовательные учреждения профессионального образования в период после 1 января 2005 года до 1 января 2008 года и получивших первое воинское звание офицера в процессе обучения, - в письменной форме обращение об их включении в реестр участников;

            8) для военнослужащих, не имеющих воинского звания офицера и получивших первое воинское звание офицера в связи с поступлением на военную службу по контракту на воинскую должность, для которой штатом предусмотрено воинское звание офицера, начиная с 1 января 2008 года, - получение первого воинского звания офицера;

            9) для военнослужащих, не имеющих воинского звания офицера и получивших первое воинское звание офицера в связи с поступлением на военную службу по контракту на воинскую должность, для которой штатом предусмотрено воинское звание офицера, после 1 января 2005 года до 1 января 2008 года, - в письменной форме обращение об их включении в реестр участников;

            10) для военнослужащих, получивших первое воинское звание офицера в связи с назначением на воинскую должность, для которой штатом предусмотрено воинское звание офицера, начиная с 1 января 2008 года, - получение первого воинского звания офицера;

            11) для военнослужащих, получивших первое воинское звание офицера в связи с назначением на воинскую должность, для которой штатом предусмотрено воинское звание офицера, после 1 января 2005 года до 1 января 2008 года, - в письменной форме обращение об их включении в реестр участников;

            12) для военнослужащих, получивших первое воинское звание офицера в связи с окончанием курсов по подготовке младших офицеров начиная с 1 января 2008 года, - получение первого воинского звания офицера;

            13) для военнослужащих, получивших первое воинское звание офицера в связи с окончанием курсов по подготовке младших офицеров после 1 января 2005 года до 1 января 2008 года, - в письменной форме обращение об их включении в реестр участников;


            Действие положений пунктов 14 и 15 части 2 статьи 9 (в редакции Федерального закона от 28.06.2011 №168-ФЗ) распространяется на правоотношения, возникшие с 1 января 2005 года.


            14) для военнослужащих, поступивших в добровольном порядке на военную службу из запаса, если они были исключены из реестра участников и не получили выплату денежных средств, указанных в пункте 3 части 1 статьи 4 настоящего Федерального закона, или не воспользовались правом стать участниками накопительно-ипотечной системы, - заключение нового контракта о прохождении военной службы;

            15) для военнослужащих, поступивших в добровольном порядке на военную службу из запаса, если они были исключены из реестра участников и получили выплату денежных средств, указанных в пункте 3 части 1 статьи 4 настоящего Федерального закона, - общая продолжительность их военной службы двадцать лет.

            3. Основанием для исключения военнослужащего федеральным органом исполнительной власти, в котором федеральным законом предусмотрена военная служба, из реестра участников является:

            1) увольнение его с военной службы;

            2) исключение его из списков личного состава воинской части в связи с его гибелью или смертью, признанием его в установленном законом порядке безвестно отсутствующим или объявлением его умершим;

            3) исполнение государством своих обязательств по обеспечению военнослужащего в период прохождения военной службы жилым помещением (за исключением жилого помещения специализированного жилищного фонда) иным предусмотренным нормативными правовыми актами Президента Российской Федерации способом за счет средств федерального бюджета.

            3.1. Военнослужащие, поступившие в добровольном порядке на военную службу из запаса, если они были исключены из реестра участников по основанию, предусмотренному пунктом 3 части 3 настоящей статьи, не могут являться участниками накопительно-ипотечной системы.

            4. В случае перевода военнослужащего из одного федерального органа исполнительной власти, в котором федеральным законом предусмотрена военная служба, в другой федеральный орган исполнительной власти, в котором федеральным законом предусмотрена военная служба, сведения об участнике накопительно-ипотечной системы должны быть переданы в реестр участников того федерального органа исполнительной власти, в который военнослужащий переведен для дальнейшего прохождения военной службы.

            5. Федеральный орган исполнительной власти, в котором участник накопительно-ипотечной системы проходит военную службу, в письменной форме уведомляет военнослужащего о включении его в реестр участников и об открытии именного накопительного счета участника или об исключении его из реестра участников и о закрытии именного накопительного счета участника.


            Статья 10. Возникновение права на использование накоплений, учтенных на именном накопительном счете участника
            к содержанию

            Основанием возникновения права на использование накоплений, учтенных на именном накопительном счете участника, в соответствии с настоящим Федеральным законом является:

            1) общая продолжительность военной службы, в том числе в льготном исчислении, двадцать лет и более;

            2) увольнение военнослужащего, общая продолжительность военной службы которого составляет десять лет и более:

            а) по достижении предельного возраста пребывания на военной службе;

            б) по состоянию здоровья - в связи с признанием его военно-врачебной комиссией ограниченно годным к военной службе;

            в) в связи с организационно-штатными мероприятиями;

            г) по семейным обстоятельствам, предусмотренным законодательством Российской Федерации о воинской обязанности и военной службе;

            3) исключение участника накопительно-ипотечной системы из списков личного состава воинской части в связи с его гибелью или смертью, признанием его в установленном законом порядке безвестно отсутствующим или объявлением его умершим;

            4) увольнение военнослужащего по состоянию здоровья - в связи с признанием его военно-врачебной комиссией не годным к военной службе.


            Статья 11. Права и обязанности участников накопительно-ипотечной системы
            к содержанию

            1. Участник накопительно-ипотечной системы имеет право:

            1) использовать денежные средства, указанные в пунктах 1 и 3 части 1 статьи 4 настоящего Федерального закона, в целях приобретения жилого помещения или жилых помещений в собственность или в иных целях после возникновения права на использование этих средств;

            2) использовать целевой жилищный заем на цели, предусмотренные частью 1 статьи 14 настоящего Федерального закона;

            3) ежегодно получать в федеральном органе исполнительной власти, в котором проходит военную службу, сведения о средствах, учтенных на его именном накопительном счете;

            4) - 6) утратили силу. - Федеральный закон от 28.06.2011 №168-ФЗ.

            2. Участник накопительно-ипотечной системы обязан:

            1) возвратить предоставленный целевой жилищный заем в случаях и в порядке, которые определены настоящим Федеральным законом;

            2) уведомить уполномоченный федеральный орган о своем решении в отношении средств, накопленных на его именном накопительном счете, при увольнении с военной службы.

            3. Получение участником денежных средств, указанных в части 1 статьи 4 настоящего Федерального закона, или направление уполномоченным федеральным органом кредитору участника средств целевого жилищного займа на цели, предусмотренные пунктом 2 части 1 статьи 14 настоящего Федерального закона, является исполнением государством своих обязательств по жилищному обеспечению военнослужащего.


            Статья 12. Права членов семьи участника накопительно-ипотечной системы, исключенного из списков личного состава воинской части в связи с гибелью или смертью, признанием безвестно отсутствующим или объявлением умершим
            к содержанию

            1. В случае исключения участника накопительно-ипотечной системы из списков личного состава воинской части в связи с его гибелью или смертью, признанием его в установленном законом порядке безвестно отсутствующим или объявлением его умершим члены его семьи имеют право использовать денежные средства, указанные в пунктах 1 и 3 части 1 статьи 4 настоящего Федерального закона, в целях приобретения жилого помещения или жилых помещений в собственность или в иных целях. При этом именной накопительный счет участника закрывается. В целях настоящего Федерального закона к членам семьи военнослужащего относятся:

            1) супруга или супруг;
            2) несовершеннолетние дети;
            3) дети старше восемнадцати лет, ставшие инвалидами до достижения ими возраста восемнадцати лет;
            4) дети в возрасте до двадцати трех лет, обучающиеся в образовательных учреждениях по очной форме обучения;
            5) лица, находящиеся на иждивении военнослужащего.

            2. Целевой жилищный заем, полученный участником накопительно-ипотечной системы, исключенным из списков воинской части по основаниям, указанным в части 1 настоящей статьи, засчитывается в счет обязательств государства перед участником и не подлежит возврату членами его семьи.

            3. Члены семьи участника накопительно-ипотечной системы, указанного в части 1 настоящей статьи и использовавшего целевой жилищный заем для получения ипотечного кредита (займа), могут принять на себя его обязательства по указанному ипотечному кредиту (займу). В случае, если кредитный договор (договор займа) переоформляется на лицо, принявшее на себя обязательства участника, данное лицо получает право на продолжение погашения ипотечного кредита (займа) за счет начислений на именной накопительный счет участника до даты, указанной в договоре предоставления целевого жилищного займа на погашение обязательств по ипотечному кредиту (займу). В этом случае именной накопительный счет участника закрывается с 1-го числа месяца, следующего за днем наступления указанной даты.


            Статья 13. Открытие и закрытие именных накопительных счетов участников
            к содержанию

            1. Основанием для открытия именного накопительного счета участника является внесение сведений о нем в реестр участников.

            2. После увольнения участника накопительно-ипотечной системы с военной службы и в случаях, предусмотренных статьей 12 настоящего Федерального закона, именной накопительный счет участника закрывается и его участие в накопительно-ипотечной системе прекращается. Порядок использования накопленных средств после закрытия именного накопительного счета участника определяется Правительством Российской Федерации.

            3. В случае приобретения участником накопительно-ипотечной системы жилья в период прохождения военной службы за счет части накоплений с использованием целевого жилищного займа и погашения указанного займа при увольнении участника по решению федерального органа исполнительной власти, в котором он проходил военную службу, об исключении участника из реестра участников и на основании его рапорта (заявления) уполномоченный федеральный орган обеспечивает предоставление участнику остатков денежных накоплений и закрывает именной накопительный счет участника.

            4. В случае, предусмотренном пунктом 3 части 3 статьи 9 настоящего Федерального закона, а также в случае, если при досрочном увольнении участника накопительно-ипотечной системы с военной службы отсутствуют основания, предусмотренные пунктами 1, 2 и 4 статьи 10 настоящего Федерального закона, его именной накопительный счет закрывается, а сумма накопленных взносов и иных учтенных на именном накопительном счете участника поступлений подлежит возврату в федеральный бюджет.

        </div>
    </ion-content>
</ion-view>