<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <h1 class="title"> Глава 4. Использование накоплений для жилищного обеспечения при получении участниками накопительно-ипотечной системы целевых жилищных займов</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 14. Право участника накопительно-ипотечной системы на получение целевого жилищного займа
            к содержанию

            1. Каждый участник накопительно-ипотечной системы не менее чем через три года его участия в накопительно-ипотечной системе имеет право на заключение с уполномоченным федеральным органом договора целевого жилищного займа в целях:

            1) приобретения жилого помещения или жилых помещений, приобретения земельного участка, занятого приобретаемыми жилым домом либо частью жилого дома и необходимого для их использования, под залог приобретаемых жилого помещения или жилых помещений, указанного земельного участка, а также приобретения жилого помещения или жилых помещений по договору участия в долевом строительстве;

            2) уплаты первоначального взноса при приобретении с использованием ипотечного кредита (займа) жилого помещения или жилых помещений, приобретении земельного участка, занятого приобретаемыми жилым домом либо частью жилого дома и необходимого для их использования, уплаты части цены договора участия в долевом строительстве с использованием ипотечного кредита (займа) и (или) погашения обязательств по ипотечному кредиту (займу);

            3) утратил силу. - Федеральный закон от 28.06.2011 №168-ФЗ.

            2. Типовой договор целевого жилищного займа, предоставляемого участнику накопительно-ипотечной системы, а также порядок оформления ипотеки утверждаются уполномоченным Правительством Российской Федерации федеральным органом исполнительной власти.

            3. Целевой жилищный заем предоставляется на период прохождения участником накопительно-ипотечной системы военной службы и является беспроцентным в этот период.

            4. Предельный размер целевого жилищного займа не может превышать общую сумму расчетного суммарного взноса и учтенных на именном накопительном счете доходов от инвестирования накоплений для жилищного обеспечения на день предоставления целевого жилищного займа.

            5. Целевой жилищный заем на погашение обязательств по ипотечному кредиту (займу) предоставляется в соответствии с графиком погашения этого кредита (займа), определенного соответствующим договором, но не чаще одного раза в месяц, при этом объем предоставляемых средств не должен превышать фактический объем средств, учтенных на именном накопительном счете участника на конец месяца, предшествующего осуществлению очередной выплаты.

            6. Источником предоставления участнику накопительно-ипотечной системы целевого жилищного займа являются накопления для жилищного обеспечения, учтенные на именном накопительном счете участника.

            7. Со дня предоставления целевого жилищного займа учет дохода на именном накопительном счете участника осуществляется, исходя из остатка накоплений для жилищного обеспечения, учтенных на этом счете.

            8. Целевой жилищный заем для участия в долевом строительстве предоставляется в случае представления участником накопительно-ипотечной системы договора участия в долевом строительстве, а в случае использования кредитных (заемных) средств также кредитного договора (договора займа). Правительство Российской Федерации вправе установить дополнительные требования к объекту долевого строительства и (или) застройщику, осуществляющему долевое строительство с использованием средств целевого жилищного займа.

            9. Средства целевого жилищного займа могут быть использованы участником накопительно-ипотечной системы для оплаты расходов, связанных с оформлением сделки по приобретению жилого помещения или жилых помещений, приобретению земельного участка, занятого приобретаемыми жилым домом либо частью жилого дома и необходимого для их использования, и (или) оформлению кредитного договора (договора займа), в том числе удостоверенного закладной, включая выплаты кредитору, связанные с выдачей кредита (займа), оплату услуг по подбору и оформлению жилого помещения или жилых помещений, земельного участка, оплату услуг оценщика, а также расходы по страхованию рисков в соответствии с условиями указанных договоров или закладной. Оплата услуг и работ, указанных в настоящей статье, может быть произведена за счет средств целевого жилищного займа при условии соответствия оказываемых услуг и работ требованиям, установленным уполномоченным федеральным органом.

            10. Уполномоченный федеральный орган вправе установить стандарты предоставления ипотечного кредита (займа) участникам накопительно-ипотечной системы.


            Статья 15. Особенности погашения целевого жилищного займа
            к содержанию

            1. Погашение целевого жилищного займа осуществляется уполномоченным федеральным органом при возникновении у получившего целевой жилищный заем участника накопительно-ипотечной системы оснований, указанных в статье 10 настоящего Федерального закона, а также в случаях, указанных в статье 12 настоящего Федерального закона.

            2. При досрочном увольнении участника накопительно-ипотечной системы с военной службы, если у него не возникли основания, предусмотренные пунктами 1, 2 и 4 статьи 10 настоящего Федерального закона, начиная со дня увольнения по целевому жилищному займу начисляются проценты по ставке, установленной договором о предоставлении целевого жилищного займа. При этом уволившийся участник накопительно-ипотечной системы обязан возвратить выплаченные уполномоченным федеральным органом суммы в погашение целевого жилищного займа, а также уплатить проценты по этому займу ежемесячными платежами в срок, не превышающий десяти лет. Процентный доход по целевому жилищному займу является доходом от инвестирования. Проценты начисляются на сумму остатка задолженности по целевому жилищному займу.

            3. Целевой жилищный заем может погашаться досрочно. При продолжении прохождения участником накопительно-ипотечной системы военной службы по контракту после погашения целевого жилищного займа начисления на именной накопительный счет участника производятся на общих основаниях.

        </div>
    </ion-content>
</ion-view>