<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme')"><img src="../img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">Глава 7. Заключительные положения</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true">

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            Статья 36. Вступление в силу настоящего Федерального закона
            к содержанию

            Настоящий Федеральный закон вступает в силу с 1 января 2005 года.

            Президент Российской Федерации В. Путин
            Москва, Кремль 20 августа 2004 года №117-ФЗ

            Принят Государственной Думой 5 августа 2004 года
            Одобрен Советом Федерации 8 августа 2004 года
        </div>
    </ion-content>
</ion-view>