<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <h1 class="title">Глава 1. Общие положения</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">

            Статья 1. Предмет правового регулирования и цель настоящего Федерального закона
            к содержанию

            Настоящий Федеральный закон регулирует отношения, связанные с формированием, особенностями инвестирования и использования средств, предназначенных для жилищного обеспечения военнослужащих, а также для иных целей в случаях, предусмотренных настоящим Федеральным законом.


            Статья 2. Законодательство Российской Федерации о жилищном обеспечении военнослужащих
            к содержанию

            Законодательство Российской Федерации о жилищном обеспечении военнослужащих основывается на Конституции Российской Федерации, общепризнанных принципах и нормах международного права, международных договорах Российской Федерации и состоит из настоящего Федерального закона, других федеральных законов, а также издаваемых в соответствии с ними иных нормативных правовых актов Российской Федерации.


            Статья 3. Основные понятия, используемые в настоящем Федеральном законе
            к содержанию

            Для целей настоящего Федерального закона используются следующие основные понятия:

            1) накопительно-ипотечная система жилищного обеспечения военнослужащих (далее - накопительно-ипотечная система) - совокупность правовых, экономических и организационных отношений, направленных на реализацию прав военнослужащих на жилищное обеспечение;

            2) участники накопительно-ипотечной системы (далее также - участники) - военнослужащие - граждане Российской Федерации, проходящие военную службу по контракту и включенные в реестр участников;

            3) реестр участников - перечень участников накопительно-ипотечной системы, формируемый федеральным органом исполнительной власти, в котором федеральным законом предусмотрена военная служба, в порядке, устанавливаемом Правительством Российской Федерации;

            4) накопительный взнос - денежные средства, выделяемые из федерального бюджета и учитываемые на именном накопительном счете участника;

            5) уполномоченный федеральный орган - федеральный орган исполнительной власти, обеспечивающий функционирование накопительно-ипотечной системы в соответствии с настоящим Федеральным законом;

            6) накопления для жилищного обеспечения - совокупность средств, включающая в себя:

            а) накопительные взносы, поступившие в уполномоченный федеральный орган и не переданные в доверительное управление управляющим компаниям;

            б) средства, переданные в доверительное управление управляющим компаниям уполномоченным федеральным органом в соответствии с настоящим Федеральным законом, включая доходы от инвестирования указанных средств;

            в) средства, поступившие в уполномоченный федеральный орган от управляющих компаний или по иным предусмотренным настоящим Федеральным законом основаниям, но не направленные на целевое использование накоплений для жилищного обеспечения участниками;

            7) именной накопительный счет участника - форма аналитического учета, включающая в себя совокупность сведений о накопительных взносах, поступающих из федерального бюджета, о доходе от инвестирования этих средств, о задолженности и об обеспеченных залогом обязательствах участника накопительно-ипотечной системы перед уполномоченным федеральным органом, а также сведения об участнике;

            8) целевой жилищный заем - денежные средства, предоставляемые участнику накопительно-ипотечной системы на возвратной и безвозмездной или возвратной возмездной основе в соответствии с настоящим Федеральным законом;

            9) расчетный суммарный взнос - накопительные взносы, поступающие из федерального бюджета и учитываемые на именном накопительном счете участника за период военной службы участника накопительно-ипотечной системы до наступления установленного федеральным законом предельного возраста пребывания его на военной службе, соответствующего присвоенному воинскому званию (без учета дохода от инвестирования);

            10) индексный инвестиционный фонд - инвестиционный фонд, средства которого инвестируются в ценные бумаги в соответствии с заявленным инвестиционным индексом;

            11) инвестиционный портфель - активы (денежные средства и ценные бумаги), сформированные за счет средств, переданных уполномоченным федеральным органом в доверительное управление на основании одного договора доверительного управления;

            12) совокупный инвестиционный портфель - совокупность активов (денежных средств и ценных бумаг), находящихся в доверительном управлении всех управляющих компаний в соответствии с настоящим Федеральным законом;

            13) инвестиционный мандат - перечень видов активов, которые управляющие компании могут включать в инвестиционную декларацию управляющей компании при подаче документов на участие в конкурсе на заключение договоров доверительного управления;

            14) доходы от инвестирования - дивиденды и проценты (доход) по ценным бумагам и банковским депозитам, другие виды доходов от операций по инвестированию накоплений для жилищного обеспечения, чистый финансовый результат от реализации активов, финансовый результат, отражающий изменение рыночной стоимости инвестиционного портфеля.


        </div>
    </ion-content>
</ion-view>