<ion-nav-bar class="bar-positive" nav-bar="active">
    <ion-nav-buttons side="left">
        <div class="title title-center header-item">О накопительно-ипотечной системе жилищного обеспечения военнослужащих</div>
</ion-nav-bar>

<ion-content class="BG fadein" scroll="true" has-bouncing="false">
    <div class="list list-inset" style="margin-top: 100px"  >

        <div class="item" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme_chap1')">
            Глава 1
        </div>
        <div class="item" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme_chap2')">
            Глава 2
        </div>
        <div class="item" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme_chap3')">
            Глава 3
        </div>
        <div class="item" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme_chap4')">
            Глава 4
        </div>
        <div class="item" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme_chap5')">
            Глава 5
        </div>
        <div class="item" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme_chap6')">
            Глава 6
        </div>

    </div>
</ion-content>