<div class="bar bar-header  bar-positive">
    <span style="z-index: 100" ng-click="$state.go('menu')"><img src="img/back_arrow.png" style="    width: 30px;"></span>
    <h1 class="title">О денежном довольствии военнослужащих и предоставлении им отдельных выплат</h1>
</div>
<ion-view id="fz"
          title="Home"
          hide-back-button="true">


    <ion-content class="BG fadein" scroll="true" has-bouncing="false" >
         <div class="militaryButton" ng-click="$state.go('o_statuse_voennosluzhashego')" style="margin-top: 60px"> О статусе военнослужащих</div>
         <div class="militaryButton" ng-click="$state.go('o_voinskoi_obyzonnosti')">О воинской обязанности и военной службе</div>
         <div class="militaryButton" ng-click="$state.go('o_denezhnom_dovolstvii')">О денежном довольствии военнослужащих и предоставлении им отдельных выплат</div>
         <div class="militaryButton" ng-click="$state.go('o_nakopitelno_ipotechnoy_sisteme')">О накопительно-ипотечной системе жилищного обеспечения военнослужащих</div>
         <div class="militaryButton" ng-click="$state.go('o_materialnoy_otvetstvennosti')">О материальной ответственности военнослужащих</div>
         <div class="militaryButton" ng-click="$state.go('o_gos_taine')">О государственной тайне</div>
         <div class="militaryButton" ng-click="$state.go('o_dnah_voinskoi_slavi')">О днях воинской славы и памятных датах России</div>
         <div class="militaryButton" ng-click="$state.go('ob_oborone')">Об обороне</div>
    </ion-content>
</ion-view>