<ion-view id="fz1"
          hide-back-button="false">
    C:\Users\Кирилл\AppData\Local\Android\sdk1
    <div class="bar bar-header bar-positive" >
        <span style="z-index: 100" ng-click="$state.go('menu')"><img src="img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">О программе</h1>
        <span style="z-index: 100 ;right: 0;margin-right: 5px;position: absolute" ng-click="openDatePicker()"><img src="img/setting.png" style="    width: 30px;"></span>
    </div>

    <ion-content  scroll="true" has-bouncing="false" class="BG_DMBtimer fadein">
        Результатом работы явилось мобильное приложение для операционной системы Android, которое содержит в себе функции справочника военнослужащего, обеспечивающего быстрый и простой способ поиска информации, ДМБ таймера, отображающего срок службы в реальном времени, и  приложения для заметок, обеспечивающего безопасное хранение , записаной вами информации.
    </ion-content>
</ion-view>