<ion-view id="fz1"
          hide-back-button="false">
    <div class="bar bar-header bar-positive" >
        <span style="z-index: 100" ng-click="$state.go('menu')"><img src="../img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title">ДМБ таймер</h1>
        <span style="z-index: 100 ;right: 0;margin-right: 5px;position: absolute" ng-click="openDatePicker()"><img src="../img/setting.png" style="    width: 30px;"></span>
    </div>

    <ion-content  scroll="true" has-bouncing="false" class="BG_DMBtimer fadein">
        <progress id="progressbar" max="100" value="{{ progressval }}"> </progress>
        <div id="progressbarlabel" style="width: 30%;margin-left: 35%;margin-top: 20px; margin-bottom: 20px;">
            <p style="font-weight: 900;font-size: 40px">{{ progressval }} %</p>
        </div>

        <div class="row" style="background-color: white;padding: 20px 10px;width: 80%;margin: auto">
            <div class="col col-50"  >
                <p style="font-size: 14px;font-weight: 600">Прошло</p>
                <div style="font-size:14px;font-weight: 600">{{hourDate}} часа</div>
                <div style="font-size:14px;font-weight: 600">{{dayDate}} дня</div>
                <div style="font-size:14px;font-weight: 600">{{weekDate}} недели</div>
                <div style="font-size:14px;font-weight: 600">{{monthDate}} месяца</div>
            </div>
            <div class="col col-50">
                <p style="font-size: 14px;font-weight: 600">Осталось</p>
                <div style="font-size:14px;font-weight: 600">{{hourDateRem}} часа</div>
                <div style="font-size:14px;font-weight: 600">{{dayDateRem}} дня</div>
                <div style="font-size:14px;font-weight: 600">{{weekDateRem}} недели</div>
                <div style="font-size:14px;font-weight: 600">{{monthDateRem}} месяца</div>
            </div>
        </div>
        <div class="button-bar" style="margin-top: 50px">
            <a class="button">Месяцев</a>
            <a class="button">Недель</a>
            <a class="button">Дней</a>
            <a class="button">Часов</a>
        </div>
    </ion-content>
</ion-view>