<ion-view id="fz1"
          title="Home"
          hide-back-button="false">
    <div class="bar bar-header">
        <span style="z-index: 100" ng-click="$state.go('federlzakon')"><img src="../img/back_arrow.png" style="    width: 30px;"></span>
        <h1 class="title"> О днях воинской славы и памятных датах России</h1>
    </div>
    <div class="bar bar-header item-input-inset" style="margin-top: 44px">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchWord">
        </label>
        <button class="button button-clear" ng-click="searcher()">
            Искать
        </button>
    </div>


    <ion-content class="BG1 fadein" scroll="true" >

        <div style="padding: 20px 20px;color: #000000;font-size: 12px;margin-top: 100px" id="text">
            История России богата знаменательными событиями. Во все века героизм, мужество воинов России, мощь и слава русского оружия были неотъемлемой частью величия Российского государства. Помимо военных побед существуют события, достойные быть увековеченными в народной памяти.
            Настоящий Федеральный закон устанавливает дни славы русского оружия - дни воинской славы (победные дни) России (далее - дни воинской славы России) в ознаменование славных побед российских войск, которые сыграли решающую роль в истории России, и памятные даты в истории Отечества, связанные с важнейшими историческими событиями в жизни государства и общества (далее - памятные даты России).

            Информация об изменениях:
            Федеральным законом от 1 декабря 2014 г. N 413-ФЗ в статью 1 настоящего Федерального закона внесены изменения
            См. текст статьи в предыдущей редакции
            Статья 1. Дни воинской славы России

            В Российской Федерации устанавливаются следующие дни воинской славы России:
            18 апреля - День победы русских воинов князя Александра Невского над немецкими рыцарями на Чудском озере (Ледовое побоище, 1242 год);
            21 сентября - День победы русских полков во главе с великим князем Дмитрием Донским над монголо-татарскими войсками в Куликовской битве (1380 год);
            7 ноября - День проведения военного парада на Красной площади в городе Москве в ознаменование двадцать четвертой годовщины Великой Октябрьской социалистической революции (1941 год);
            7 июля - День победы русского флота над турецким флотом в Чесменском сражении (1770 год);
            10 июля - День победы русской армии под командованием Петра Первого над шведами в Полтавском сражении (1709 год);
            9 августа - День первой в российской истории морской победы русского флота под командованием Петра Первого над шведами у мыса Гангут (1714 год);
            24 декабря - День взятия турецкой крепости Измаил русскими войсками под командованием А.В. Суворова (1790 год);
            11 сентября - День победы русской эскадры под командованием Ф.Ф. Ушакова над турецкой эскадрой у мыса Тендра (1790 год);
            8 сентября - День Бородинского сражения русской армии под командованием М.И. Кутузова с французской армией (1812 год);
            1 декабря - День победы русской эскадры под командованием П.С. Нахимова над турецкой эскадрой у мыса Синоп (1853 год);
            23 февраля - День защитника Отечества;
            5 декабря - День начала контрнаступления советских войск против немецко-фашистских войск в битве под Москвой (1941 год);
            2 февраля - День разгрома советскими войсками немецко-фашистских войск в Сталинградской битве (1943 год);
            23 августа - День разгрома советскими войсками немецко-фашистских войск в Курской битве (1943 год);
            27 января - День полного освобождения Ленинграда от фашистской блокады (1944 год);
            9 мая - День Победы советского народа в Великой Отечественной войне 1941 -1945 годов (1945 год);
            4 ноября - День народного единства.

            Информация об изменениях:
            Федеральным законом от 4 ноября 2014 г. N 340-ФЗ в статью 1.1 настоящего Федерального закона внесены изменения
            См. текст статьи в предыдущей редакции
            Статья 1.1. Памятные даты России

            В Российской Федерации устанавливаются следующие памятные даты России:
            25 января - День российского студенчества;
            15 февраля - День памяти о россиянах, исполнявших служебный долг за пределами Отечества;
            12 апреля - День космонавтики;
            26 апреля - День участников ликвидации последствий радиационных аварий и катастроф и памяти жертв этих аварий и катастроф;
            27 апреля - День российского парламентаризма;
            22 июня - День памяти и скорби - день начала Великой Отечественной войны (1941 год);
            29 июня - День партизан и подпольщиков;
            28 июля - День Крещения Руси;
            1 августа - День памяти российских воинов, погибших в Первой мировой войне 1914 - 1918 годов;
            2 сентября - День окончания Второй мировой войны (1945 год);
            3 сентября - День солидарности в борьбе с терроризмом;
            7 ноября - День Октябрьской революции 1917 года;
            3 декабря - День Неизвестного Солдата;
            9 декабря - День Героев Отечества;
            12 декабря - День Конституции Российской Федерации.

            Статья 2. Формы увековечения памяти воинов России

            Основными формами увековечения памяти российских воинов, отличившихся в сражениях, связанных с днями воинской славы России, являются:
            создание и сохранение мемориальных музеев, установление и благоустройство памятников, обелисков, стел, других мемориальных сооружений и объектов, увековечивающих дни воинской славы России, организация выставок, установление на местах воинской славы мемориальных знаков;
            сохранение и обустройство территорий, исторически связанных с подвигами российских воинов, отличившихся в сражениях, связанных с днями воинской славы России;
            публикации в средствах массовой информации материалов, связанных с днями воинской славы России;
            присвоение имен национальных героев, отличившихся в сражениях, связанных с днями воинской славы России, населенным пунктам, улицам и площадям, физико-географическим объектам, воинским частям, кораблям и судам.
            По решению органов государственной власти Российской Федерации, органов государственной власти субъектов Российской Федерации и органов местного самоуправления могут осуществляться и другие мероприятия по увековечению памяти российских воинов, отличившихся в сражениях, связанных с днями воинской славы России.

            Статья 3. Организация проведения дней воинской славы России

            Правительство Российской Федерации организует:
            разработку планов и программ военно-исторической работы;
            проведение мероприятий, направленных на увековечение памяти российских воинов, отличившихся в сражениях, связанных с днями воинской славы России;
            пропаганду дней воинской славы России;
            установку мемориальных сооружений и объектов, создание мемориальных музеев и выставок федерального значения, посвященных дням воинской славы России;
            разработку проектов международных договоров Российской Федерации по обеспечению сохранности мемориальных сооружений и объектов, увековечивающих дни воинской славы России, которые находятся на территориях иностранных государств, а также участие в реализации указанных международных договоров;
            согласование с соответствующими организациями иностранных государств, на территориях которых находятся указанные мемориальные сооружения и объекты, мероприятий по их сохранению и благоустройству;
            обеспечение общественного порядка при проведении дней воинской славы России.

            Статья 4. Порядок проведения воинских ритуалов

            Порядок проведения воинских ритуалов в Вооруженных Силах Российской Федерации и других войсках определяет Президент Российской Федерации.
            Праздничный салют 9 мая и 23 февраля проводится ежегодно в порядке, определяемом Министерством обороны Российской Федерации.

            Статья 5. Порядок проведения дней воинской славы России в Вооруженных Силах Российской Федерации и других войсках и мероприятий, посвященных памятным датам России

            В дни воинской славы России, установленные статьей 1 настоящего Федерального закона, в Вооруженных Силах Российской Федерации и других войсках проводятся торжественные мероприятия.
            В связи с памятными датами России, установленными статьей 1.1 настоящего Федерального закона, по инициативе государственных организаций и общественных объединений могут проводиться публичные мероприятия.
            Порядок проведения дней воинской славы России и мероприятий, посвященных памятным датам России, устанавливается Правительством Российской Федерации.
            ГАРАНТ:
            См. Порядок проведения военных парадов, прохождения войск торжественным маршем, парадов кораблей и артиллерийских салютов в дни воинской славы России, утвержденный приказом Министра обороны РФ от 13 июля 2012 г. N 1800

            Статья 6. Финансовое обеспечение проведения дней воинской славы России и мероприятий, посвященных памятным датам России

            Финансовое обеспечение проведения дней воинской славы России и мероприятий, посвященных памятным датам России, осуществляется за счет средств федерального бюджета. На эти цели также могут направляться средства бюджетов субъектов Российской Федерации и местных бюджетов, а также внебюджетные средства и добровольные (в том числе целевые) взносы и пожертвования физических и юридических лиц.

            Статья 7. Вступление в силу настоящего Федерального закона

            Настоящий Федеральный закон вступает в силу со дня его официального опубликования.


        </div>
    </ion-content>
</ion-view>